extends email-layout

block content
  h2 Your account on Samply

  p Hello #{participant.name},
  
  p <strong>Your account on Samply has been closed as requested</strong>. All of your account and data has been deleted. You will not receive any further emails from us.

  p In order to use Samply again in the future, you will need to create a new account.

  p We are sorry to see you go and wish you all the best!

  p With kind regards,

  p Samply team

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/terms`) Terms of Service 

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/policy`) Privacy Policy


  

