extends email-layout

block content
  h2 Uw account op Samply

  p Hallo #{participant.name},
  
  p <strong>Uw account op Samply is gesloten zoals gevraagd</strong>. Al uw account en gegevens zijn verwijderd. U zult geen e-mails meer van ons ontvangen.

  p Om Samply in de toekomst opnieuw te gebruiken, moet je een nieuwe account aanmaken.

  p We vinden het jammer dat je weggaat en wensen je het allerbeste!

  p Met vriendelijke groeten,

  p Samply team

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/terms`) Gebruiksvoorwaarden

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/policy`) Privacybeleid
