extends email-layout

block content
  h2 Ihr Konto auf Samply

  p Hallo #{participant.name},
  
  p <strong>Ihr Konto bei Samply wurde wie gewünscht geschlossen</strong>. Ihr gesamtes Konto und alle Ihre Daten wurden gelöscht. Sie werden keine weiteren E-Mails von uns erhalten.

  p Um Samply in Zukunft wieder nutzen zu können, müssen Sie einen neuen Account erstellen.

  p Wir bedauern, dass Sie gehen und wünschen Ihnen alles Gute!

  p Mit freundlichen Grüßen

  p Samply team

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/dienstbedingungen`) Dienstbedingungen

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/datenschutz`) Datenschutzerklärung

