extends email-layout

block content
  h2 Подтверждение электронной почты
  p Здравствуйте #{participant.name}. Вы создали аккаунт в Samply. Пожалуйста, нажмите следующую кнопку, чтобы подтвердить ваш адрес электронной почты. 
  +button(resetURL, 'Подтвердить мою электронную почту →')
  p Если вы не можете нажать на кнопку выше, пожалуйста, посетите #{resetURL}
  br
  p Если вы не запрашивали это письмо, пожалуйста, проигнорируйте его.
