extends email-layout

block content
  h2 E-mail bevestiging
  p Hallo #{participant.name}. Je hebt een account aangemaakt in Samply. Klik op de volgende knop om uw e-mailadres te bevestigen. 
  +button(resetURL, 'Bevestig mijn e-mail →')
  p Als u niet op de bovenstaande knop kunt klikken, bezoek dan #{resetURL}
  br
  p Als je deze e-mail niet hebt aangevraagd, negeer hem dan.

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/terms`) Gebruiksvoorwaarden

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/policy`) Privacybeleid