extends email-layout

block content
  h2 E-Mail-Bestätigung
  p Herzlich Willkommen#{participant.name && ` ${participant.name}`}. Sie haben ein Konto in Samply erstellt. Bitte klicken Sie auf die folgende Schaltfläche, um Ihre E-Mail Adresse zu bestätigen. 
  +button(resetURL, 'Meine E-Mail bestätigen →')
  p Wenn Sie die obige Schaltfläche nicht anklicken können, besuchen Sie bitte #{resetURL}
  br
  p Wenn Sie diese E-Mail nicht angefordert haben, ignorieren Sie sie bitte.

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/dienstbedingungen`) Dienstbedingungen

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/datenschutz`) Datenschutzerklärung