extends email-layout

block content
  h2 Приглашение
  p Здравствуйте. Вы приглашены принять участие в исследовании #{participant.project}. Это ваша индивидуальная ссылка для участия. Пожалуйста, нажмите на ссылку внизу, чтобы перейти на страницу исследования. 
  +button(singupURL, 'Перейти к исследованию →')
  p Если вы не можете нажать на ссылку выше, пожалуйста, перейдите по следующей ссылке #{singupURL}
  br
  p Если это приглашение не имеет к вам отношения, пожалуйста, проигнорируйте его.
