extends email-layout

block content
  h2 Восстановление пароля
  p Здравствуйте. Вы запросили восстановление пароля. Пожалуйста, нажмите на следующую ссылку внизу, чтобы перейти на страницу создания нового пароля. Пожалуйста, примите во внимание, что ссылка действительна только в течение следующего часа.
  +button(resetURL, 'Создать новый пароль →')
  p Если вы не можете нажать на ссылку выше, пожалуйста, перейдите по следующей ссылке #{resetURL}
  br
  p Если вы не запрашивали восстановление пароля, пожалуйста, проигнорируйте это письмо.
