extends email-layout

block content
  h2 Passwort zurücksetzen
  p Sie haben einen Passwort-Reset angefordert. Bitte klicken Sie auf den folgenden Button, um mit dem Zurücksetzen Ihres Passwortes fortzufahren. Bitte beachten Sie, dass dieser Link nur für die nächste Stunde gültig ist.
  +button(resetURL, 'Passwort zurücksetzen →')
  p Wenn Sie die obige Schaltfläche nicht anklicken können, besuchen Sie bitte #{resetURL}
  br
  p Wenn Sie diese E-Mail nicht angefordert haben, ignorieren Sie sie bitte.

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/dienstbedingungen`) Dienstbedingungen

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/datenschutz`) Datenschutzerklärung