extends email-layout

block content
  h2 Wachtwoord Reset
  p Hallo. U heeft een wachtwoord reset aangevraagd. Klik op de volgende knop om verder te gaan met het resetten van uw wachtwoord. Deze link is alleen geldig voor het volgende uur.
  +button(resetURL, 'Создать новый пароль →')
  p Als u niet op de bovenstaande knop kunt klikken, bezoek dan #{resetURL}
  br
  p Als je deze e-mail niet hebt aangevraagd, negeer hem dan.

  p 
  p 
  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/terms`) Gebruiksvoorwaarden

  p 
    a(style="color: #211505" target="_blank" href=`https://samply.uni-konstanz.de/docs/policy`) Privacybeleid