extends layout

include mixins/_testCard

block content
  .inner
  
    p
    h2 All tests (admin mode)
                
    p
    .stores
      each test in tests
        if(user.level > 10)
          +testCard(test)
    
        
    //- pre= h.dump(tags)
    pre= h.dump(tests)
    //- pre= h.dump(user)
