extends layout

include mixins/_debugProjectCard

block content
  .inner
    p
    .card
      h4 You are in the supervision mode. Click on the project to activate it.
      .projects
        each project in projects
          +debugProjectCard(project)
