extends layout

block headers
  meta(name="Description" content="Samply, notifications, experience-based sampling")

block background-image  
  .bg-image-participants
  
block content
  
  .inner
    p
    .card
      .card-message
        h4 #{layout.title}
        p.card-message Samply supports experience sampling, ambulatory assessment and diary studies. 
          | We want to make sending notifications to participants an easy and comfortable task for researchers.
          | The main idea is that you as a researcher is free to use any tool to create an online survey or an experiment. 
          | Samply sends mobile notifications through the Samply mobile application, so when participants of your study click 
          | on the notification, they open your online study in a mobile web-browser.
        
        p.card-message Want a test drive? Here is a quick tutorial to demonstrate how Samply works.
        
        h5 Main features
        
        ul
          li 
            p.card-message Samply is free, there is no hidden costs (thanks to the generous support of the iScience group)
          li 
            p.card-message Native mobile application for participants available in Apple Store and Google Store.
          li 
            p.card-message Different types of notifications schedule (one-time, repeat, user-dependent, randomized).
          li 
            p.card-message Customization of messages and URL links that you send to participants.
          li 
            p.card-message Recording participants' responses to your notifications.
        
        
        h5 About us
        
        p.card-message Samply is developed by Yury Shevchenko with the help of many great collaborators. 
          | Yury is a postdoc in the iScience group at the University of Konstanz in Germany.
        
        h5 Contact / find support / contribute
        
        ul
          li 
            p.card-message Contact us by email
          
          li 
            p.card-message Join our Slack group
          
          li 
            p.card-message Wish to contribute? Welcome to Github.
            
        br
        p.card-message If you are a participant, you are probably looking for a mobile application Samply. You can find in Apple or Google Store.
              
