extends layout

include mixins/_loginForm
include mixins/_forgot
include mixins/_authForms

block content
  .inner
    if user
      h2 #{layout.message_logged_in}

    if !user
      +loginForm()
      +authForms(layout.auth_login)

      p !{layout.message_signup}

      if forgot
        +forgotForm()
      else
        p
          a(style={color:'black'} href=`/forgot`) #{layout.message_forgot_password}
