extends layout

block content
  .inner
  
    if(receipt)
  
      p Note: Even if a receipt's status says ok, this doesn't guarantee that the device has received the message; "ok" in a push receipt means that the Android or iOS push notification service successfully received the notification. If the recipient device is turned off, for example, the iOS or Android push notification service will try to deliver the message but the device won't necessarily receive it.
        
      p Receipt ID
      p #{id}
      p Status
      p #{receipt.status}
      
      if(receipt.message)
        p Message: #{receipt.message}
      if(receipt.details)
        p Details: #{receipt.details}
    
    else
      
      p Push receipts are cleared after 24 hours. 
      
      p 
        | Notification service recommends checking push receipts 15 minutes after sending your push notifications. 
        | While push receipts are often available much sooner, a 15-minute window gives the push notification service a comfortable amount of time to make the receipts available to you. 
        | If after 15 minutes there is no push receipt, this likely indicates an error with the push notification service. 
        | Read more about push receipts <a target="_blank" href="https://docs.expo.dev/push-notifications/sending-notifications/#check-push-receipts-for-errors">here</a>.
