extends layout

include mixins/_signParticipantForm
include mixins/_forgot
include mixins/_loginParticipantForm
include mixins/_howitworksParticipant

block content
  .inner

    .loginCard
      if !action || action == "register"
        +signParticipantForm()

      if action == "login"
        +loginParticipantForm()

      if action == "forgot"
        +loginParticipantForm()
        +forgotForm()

      if action == "howitworks"
        +howitworksParticipant()
