extends layout

include mixins/_signParticipantForm
include mixins/_authParticipantForms
include mixins/_forgot
include mixins/_loginParticipantForm
include mixins/_howitworksParticipant

block content
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages
          li.nav__item: a.nav__link(href="/participant/register", class=(currentPath.startsWith('/participant/register') ? 'nav__link--active' : '')) #{layout.signup}
          li.nav__item: a.nav__link(href="/participant/login", class=(currentPath.startsWith('/participant/login') ? 'nav__link--active' : '')) #{layout.login}
          li.nav__item: a.nav__link(href="/participant/howitworks", class=(currentPath.startsWith('/participant/howitworks') ? 'nav__link--active' : '')) #{layout.howitworks}

    .card
      if !action || action == "register"
        +signParticipantForm()
        +authParticipantForms(layout.auth_sign)

      if action == "login"
        +loginParticipantForm()
        +authParticipantForms(layout.auth_login)

      if action == "forgot"
        +loginParticipantForm()
        +forgotForm()

      if action == "howitworks"
        +howitworksParticipant()
