extends layout

include mixins/_projectCard
include mixins/_projectForm

block content
  .inner

    if(user.projects && user.projects.length > 0)
      h2 #{l.title_proejcts}
      .stores
        each project in projects
          +projectCard(project)

    if(user.invitedprojects && user.invitedprojects.length > 0)
      h2 #{l.title_invited}
      .stores
        each invitedproject in invitedprojects
          +projectCard(invitedproject)

    .card
      h5 #{l.title_new}
      
      +projectForm()
      
