extends layout

include mixins/_registerResearcher
include mixins/_loginResearcher
include mixins/_howitworksResearcher
include mixins/_forgot

block background-image 
  .bg-image-participants
  
block content
  .inner
    p
    header.top
      nav.nav
        .nav__section.nav__section--pages

    .loginCard
      if user
        p You are already logged in. Please log out first if you want to change the account.
        
      else   
        if !action || action == "register"
          +registerResearcher()
          
        if action == "login"
          +loginResearcher()
        
        if action == "forgot"
          +loginResearcher()
          +forgotForm()    
        
        if action == "howitworks"
          +howitworksResearcher()
