extends layout

include mixins/_researcherCard

block content
  .researchersTable
    h2 #{title}
    .users
      table.table
        thead
            td № 
            td Email
            td ID
            td Name
            td Institute
            td Time
            td Language
            td Project
            td Tests
            td Projects

            if user.level > 100
              td X
        each person, i in users
          +researcherCard(person, i)
