extends layout

include mixins/_signParticipantForm
include mixins/_authParticipantForms

block content
  .inner
    if user
      .card 
        h2 #{layout.message_logged_in}

    if !user
      +signParticipantForm()
      if (!project && !code)
        +authParticipantForms(layout.auth_sign)
        p
        p !{layout.sign_message}
