extends layout

include mixins/_signParticipantForm
include mixins/_authParticipantForms

block content
  .inner
    .loginCard
      if user
        h2 #{layout.message_logged_in}

      else
        +signParticipantForm()
        if (!project && !code)
          +authParticipantForms(layout.auth_sign)
          p
          p !{layout.sign_message}
