mixin datenschutz()
  
  h4 
    .headerLink Datenschutzerklärung
  
  p
    | Dies ist eine automatische Übersetzung der Datenschutzerklärung, die nur zu Informationszwecken bereitgestellt wird. 
    | Nur die Originalerklärung, die in 
    a(href='/docs/policy') englischer Sprache verfügbar ist
    | , ist rechtsgültig.
  
  h5.headerLink Präambel
  p
  | Mit der folgenden Datenschutzerklärung möchten wir Sie darüber informieren, welche Arten Ihrer personenbezogenen Daten (im Folgenden auch kurz "Daten" genannt) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns vorgenommenen Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Anwendungen und innerhalb externer Onlinepräsenzen, wie z.B. unseren Social Media Profilen (nachfolgend gemeinsam bezeichnet als "Online-Dienste").

  p Die verwendeten Begriffe sind nicht geschlechtsspezifisch.
  p Letzte Aktualisierung: 3. Dezember 2024
  h5.headerLink Inhaltsverzeichnis
  ul.index
  li
    a.index-link(href='#m14') Präambel
  li
    a.index-link(href='#m3') Steuerung
  li
    a.index-link(href='#mÜbersicht') Übersicht über die Verarbeitungsvorgänge
  li
    a.index-link(href='#m13') Rechtsgrundlagen für die Verarbeitung
  li
    a.index-link(href='#m200') Bereitstellung der mobilen Anwendung Samply Research
  li
    a.index-link(href='#m225') Bereitstellung von Online-Diensten und Webhosting
  li
    a.index-link(href='#m27') Sicherheitsvorkehrungen
  li
    a.index-link(href='#m25') Übermittlung und Offenlegung von personenbezogenen Daten
  li
    a.index-link(href='#m24') Datenverarbeitung in Drittländern
  li
    a.index-link(href='#m134') Verwendung von Cookies
  li
    a.index-link(href='#m317') Kommerzielle Dienstleistungen
  li
    a.index-link(href='#m367') Registrierung, Anmeldung und Benutzerkonto
  li
    a.index-link(href='#m182') Kontaktaufnahme mit uns
  li
    a.index-link(href='#m12') Löschung von Daten
  li
    a.index-link(href='#m15') Änderungen und Aktualisierungen der Datenschutzrichtlinie
  li
    a.index-link(href='#m10') Rechte der betroffenen Personen
  li
    a.index-link(href='#m42') Terminologie und Definitionen
  h5.headerLink#m3 Controller

  p
  | iScience Research Group / Universität Konstanz
  br
  | Universitätsstraße 10
  br
  | 78464, Konstanz, Deutschland
  p
  starke Vertretungsberechtigte:
  |  Yury Shevchenko
  p
  E-Mail Adresse:
  |  yury.shevchenko@uni.kn
  p
  stark Telefon:
  |  (49) 178 418 81 54
  p
  strong Rechtliche Hinweise: 
  a(href='/docs/impressum') https://samply.uni-konstanz.de/docs/impressum
  
  h5.headerLink#mOverview Übersicht über die Verarbeitungen
  
  p
  | Die folgende Tabelle gibt einen Überblick über die Arten der verarbeiteten Daten, die Zwecke, für die sie verarbeitet werden, und die betroffenen Personen.
  h5 Kategorien von verarbeiteten Daten
  ul
  li Studiendaten (z.B. Texteinträge, Bilder)
  li Daten des Forschers (z. B. Name, Institut, E-Mail, Sprache)
  li Teilnehmerdaten (z. B. E-Mail, Zeitzone, Zeitpräferenzen, Teilnehmercode)
  li Benachrichtigungsdaten (z. B. Titel, Nachricht, URL, Benachrichtigungszeitplan)
  li Zeitstempel der Benachrichtigung (z. B. wann eine Benachrichtigung in der App empfangen, in der Benachrichtigungsleiste angetippt, in der App geöffnet, gelöscht, Geofencing-Ereignis, Abschlussereignis)
  li Meta-/Kommunikationsdaten (z. B. Cookies)
  li Kontaktinformationen (z. B. E-Mail, Telefonnummern)
  h5 Kategorien von betroffenen Personen
  ul
  li Forscher
  li Teilnehmer
  h5 Zwecke der Verarbeitung
  ul
  li Authentifizierungsverfahren
  li Bereitstellung unserer Online-Dienste und Benutzerfreundlichkeit
  li Büro- und Organisationsabläufe
  li Feedback (z. B. Sammlung von Feedback über ein Online-Formular)
  li Kontaktanfragen und Kommunikation
  li Sicherheitsmaßnahmen
  li Vertragliche Dienstleistungen und Support
  li Verwaltung und Beantwortung von Anfragen
  h5.headerLink#m13 Rechtsgrundlagen für die Verarbeitung
  p
  | Nachfolgend informieren wir Sie über die Rechtsgrundlage der Allgemeinen Datenschutzverordnung (DSGVO), auf deren Basis wir personenbezogene Daten verarbeiten. Bitte beachten Sie, dass neben den Bestimmungen der DSGVO auch die nationalen Datenschutzbestimmungen in Ihrem Land oder in unserem Wohnsitz- oder Sitzland gelten können. Sollten darüber hinaus im Einzelfall spezifischere Rechtsgrundlagen gelten, werden wir Sie in der Datenschutzerklärung darauf hinweisen.
  ul
  li
    strong Einwilligung (Artikel 6 (1) (a) GDPR)
    |  - Die betroffene Person hat ihre Einwilligung zur Verarbeitung ihrer personenbezogenen Daten für einen oder mehrere bestimmte Zwecke gegeben.
  li
    strong  Erfüllung eines Vertrags und vorherige Anfragen (Artikel 6 (1) (b) GDPR)
    |  - Erfüllung eines Vertrags, bei dem die betroffene Person Vertragspartei ist, oder zur Durchführung von Maßnahmen auf Antrag der betroffenen Person vor Abschluss eines Vertrags.
  li
    strong Erfüllung einer rechtlichen Verpflichtung (Artikel 6 (1) (c) GDPR)
    |  - Die Verarbeitung ist zur Erfüllung einer rechtlichen Verpflichtung erforderlich, der der für die Verarbeitung Verantwortliche unterliegt.
  li
    strong Schutz lebenswichtiger Interessen (Artikel 6 (1) (d) GDPR)
    |  - Die Verarbeitung ist erforderlich, um lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person zu schützen.
  li
    strong Berechtigte Interessen (Artikel 6 (1) (f) GDPR)
    |  - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des für die Verarbeitung Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz der personenbezogenen Daten erfordern, überwiegen.
  p
  strong Nationale Datenschutzbestimmungen in Deutschland
  | : Neben den datenschutzrechtlichen Bestimmungen der Datenschutz-Grundverordnung gelten in Deutschland auch nationale Regelungen zum Datenschutz. Dazu gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz - BDSG). Das BDSG enthält insbesondere spezielle Regelungen zum Auskunftsrecht, zum Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur Übermittlung sowie zur automatisierten Einzelentscheidung einschließlich Profiling. Ferner regelt es die Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick auf die Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung der Beschäftigten. Darüber hinaus können die Datenschutzgesetze der einzelnen Bundesländer Anwendung finden.
  
  h5.headerLink#m200 Bereitstellung der Mobilanwendung Samply Research
  
  p 
  strong Vom Benutzer bereitgestellte Informationen: 
  | Die Anwendung erhält die Informationen, die Sie beim Herunterladen und Registrieren der Anwendung angeben. 
  | Die Registrierung bei uns ist zwingend erforderlich, um die grundlegenden Funktionen der Anwendung nutzen zu können.
  | Wenn Sie sich bei uns registrieren und die Anwendung nutzen, stellen Sie Folgendes zur Verfügung 
  | (a) Ihre E-Mail-Adresse und Ihr Passwort; 
  | (b) die Zeitzone und Sprache Ihres Smartphones;
  | (c) Zeitstempel für die folgenden Ereignisse: Empfang einer Benachrichtigung in der App, Tippen auf die Benachrichtigung in der Benachrichtigungsleiste, Öffnen einer Benachrichtigung in der App, Löschen einer Benachrichtigung, Abschließen einer Umfrage;
  | (d) Informationen, die Sie uns zur Verfügung stellen, wenn Sie uns um Hilfe bitten; 
  | (e) Informationen, die Sie in unser System eingeben, wenn Sie die Anwendung nutzen, z. B. wenn Sie an einer Studie teilnehmen;
  | (f) Ihre aktuellen Standortinformationen und Zeitstempel für Geofencing-Ereignisse bei der Nutzung der Anwendung und beim Schließen der Anwendung, wenn Sie an einer Studie teilnehmen, die Geofencing verwendet.
  
  p 
  strong Verwendung Ihres aktuellen Standorts im Hintergrund: 
  | Bei einigen Studien kann es erforderlich sein, Ihnen einen Link zu Online-Umfragen zu senden, wenn Sie einen bestimmten Ort (z. B. Ihren Arbeitsplatz) betreten oder verlassen.
  | Aus diesem Grund werden Sie, wenn Sie an einer Studie teilnehmen, bei der eine Art von Kontakt mit den Teilnehmern verwendet wird, gefragt, ob Sie eine ständige Standortverfolgung erlauben. 
  | Wenn Sie zustimmen, wird die Anwendung Ihren Standort kontinuierlich verfolgen, auch wenn die Anwendung geschlossen wird.
  | Die Anwendung gibt Ihre Standortdaten nicht an Drittanbieter oder Forscher weiter. 
  | Ihre Standortinformationen werden nur verwendet, um Benachrichtigungen mit Links zu Online-Umfragen auszulösen, die von Forschern erstellt werden.
  | Sie können die Standortverfolgung für eine bestimmte Studie innerhalb der Anwendung jederzeit aktivieren oder deaktivieren.
  | Wenn Sie nicht möchten, dass wir Ihren Standort für die oben genannten Zwecke verwenden, sollten Sie die Standortdienste für die mobile Anwendung in Ihren Kontoeinstellungen oder in den Einstellungen Ihres Mobiltelefons und/oder innerhalb der mobilen Anwendung deaktivieren. 
  
  p
  strong Richtlinie zur Datenaufbewahrung, Verwaltung Ihrer Informationen:
  |  Sie können die Sammlung von Informationen durch die Anwendung beenden, indem Sie Ihr Konto löschen (unter dem Menüpunkt „Mehr“, dann „Einstellungen“, dann „Mein Konto löschen“) und die Anwendung deinstallieren. 
  | Sie können die Standard-Deinstallationsverfahren verwenden, die als Teil Ihres mobilen Geräts oder über den Markt für mobile Anwendungen oder das Netzwerk verfügbar sind. 

  ul.m-Elemente
  li
    strong Verarbeitete Datentypen:
    |  Studiendaten (z. B. Texteinträge, Bilder), Forscherdaten (z. B. Name, Institut, E-Mail, Sprache), Teilnehmerdaten (z. B. E-Mail, Zeitzone, Zeitpräferenzen, Teilnehmercode), Benachrichtigungsdaten (z. B. Titel, Nachricht, URL, Benachrichtigungszeitplan), Benachrichtigungszeitstempel (z. B. wann eine Benachrichtigung in der App empfangen, in der Benachrichtigungsleiste angetippt, in der App geöffnet, gelöscht wurde, Geofencing-Ereignis, Abschlussereignis)
  li
    strong Datensubjekte:
    |  Teilnehmer
  li
    strong Zwecke der Verarbeitung:
    |  Authentifizierungsverfahren, Bereitstellung unserer Online-Dienste und Usability, Content Delivery Network (CDN), Kontaktanfragen und Kommunikation, Sicherheitsmaßnahmen, Verwaltung und Beantwortung von Anfragen
  li
    strong Rechtsgrundlage:
    |  Zustimmung (Artikel 6 (1) (a) GDPR), Erfüllung einer rechtlichen Verpflichtung (Artikel 6 (1) (c) GDPR), Schutz lebenswichtiger Interessen (Artikel 6 (1) (d) GDPR), berechtigte Interessen (Artikel 6 (1) (f) GDPR).

  p
  strong In Anspruch genommene Dienste und Diensteanbieter:
  ul.m-elements
  li
    strong Expo:
    |  Toolkit und Plattform, um eine mobile Anwendung zu erstellen und sie für Android und iOS zu veröffentlichen; 
    | Dienstanbieter: Expo; Website: 
    a(href='https://expo.dev/') https://expo.dev/
    | ; Datenschutzbestimmungen: 
    a(href='https://expo.dev/privacy') https://expo.dev/privacy
    | .
  li
    strong App Store:
    |  App-Store-Plattform für mobile Anwendungen auf den Betriebssystemen iOS und iPadOS; 
    | Dienstanbieter: Apple Inc., One Apple Park Way; Cupertino, CA 95014, U.S.A.; Website: 
    a(href='https://www.apple.com/app-store/') https://www.apple.com/app-store/
    | ; Datenschutzbestimmungen: 
    a(href='https://www.apple.com/privacy/') https://www.apple.com/privacy/
    | .
  li
    strong Google Play:
    |  App-Store-Plattform für Geräte, die unter dem Betriebssystem Android und seinen Derivaten sowie Chrome OS laufen; 
    | Dienstanbieter: Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, U.S.A.; Website: 
    a(href='https://play.google.com/store') https://play.google.com/store
    | ; Datenschutzbestimmungen: 
    a(href='https://policies.google.com/privacy') https://policies.google.com/privacy
    | .
    
  h5.headerLink#m225 Bereitstellung von Online-Diensten und Webhosting
  p
  | Um unsere Online-Dienste auf der Samply-Website (https://samply.uni-konstanz.de/) anbieten zu können, nutzen wir die Infrastruktur (Webserver, Rechenkapazität, Speicherplatz, Datenbankdienste, Sicherheits- und technische Wartungsdienste) der Universität Konstanz in Deutschland. 
  p
  | Die im Rahmen der Bereitstellung der Website verarbeiteten Daten umfassen alle Informationen über die Nutzer der mobilen Anwendung Samply Research und der Samply-Website, die im Rahmen der Nutzung und Kommunikation erhoben werden. 
  | Teilnehmerdaten und Zeitstempel von Benachrichtigungen werden in der gesicherten Datenbank gespeichert und sind nur den Forschern der jeweiligen Studie zugänglich, die diese Daten erhoben haben. 
  | Forscher können diese Daten über die Schnittstelle der Samply-Website löschen. 
  p
  strong E-Mail-Versand und -Hosting
  | : Die von uns genutzten Webhosting-Dienste umfassen auch das Senden, Empfangen und Speichern von E-Mails. Zu diesen Zwecken werden die Adressen der Empfänger und Absender sowie weitere Informationen im Zusammenhang mit dem Versand von E-Mails (z. B. die beteiligten Provider) und die Inhalte der jeweiligen E-Mails verarbeitet. Die oben genannten Daten können auch zum Zweck der SPAM-Erkennung verarbeitet werden. Bitte beachten Sie, dass E-Mails im Internet in der Regel nicht verschlüsselt versendet werden. E-Mails werden in der Regel auf dem Transportweg verschlüsselt, nicht aber auf den Servern, von denen sie gesendet und empfangen werden (es sei denn, es wird eine sogenannte Ende-zu-Ende-Verschlüsselung verwendet). Wir können daher keine Verantwortung für den Übertragungsweg von E-Mails zwischen Absender und Empfang auf unserem Server übernehmen.
  p
  strong Erhebung von Zugriffsdaten und Logfiles
  | : Wir selbst oder unser Webhosting-Anbieter erheben Daten über jeden Zugriff auf den Server (so genannte Serverlogfiles). Zu den Server-Logfiles können gehören: Adresse und Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und in der Regel IP-Adresse und der anfragende Provider.
  p
  | Die Server-Logfiles können zu Sicherheitszwecken verwendet werden, z.B. um eine Überlastung der Server zu vermeiden (insbesondere bei missbräuchlichen Angriffen, sog. DDoS-Attacken) und um die Stabilität und den optimalen Lastausgleich der Server zu gewährleisten.
  
  p
  strong Datenaufbewahrungsrichtlinie, Verwaltung Ihrer Informationen:
  |  Die Nutzer der Website (Forscher und Teilnehmer) können ihre Konten über die Oberfläche der Samply-Website verwalten. Nutzer können ihr Konto über den Menüpunkt „Konto“ und dann „Mein Konto löschen“ löschen. 

  ul.m-elements
  li
    strong Verarbeitete Datentypen:
    |  Studiendaten (z. B. Texteinträge, Bilder), Forscherdaten (z. B. Name, Institut, E-Mail, Sprache), Teilnehmerdaten (z. B. E-Mail, Zeitzone, Zeitpräferenzen, Teilnehmercode), Benachrichtigungsdaten (z. B. Titel, Nachricht, URL, Benachrichtigungszeitplan), Benachrichtigungszeitstempel (z. B. wann eine Benachrichtigung in der App empfangen, in der Benachrichtigungsleiste angetippt, in der App geöffnet, gelöscht wurde, Geofencing-Ereignis, Abschlussereignis)
  li
    strong Datensubjekte:
    |  Forscher, Teilnehmer
  li
    strong Zwecke der Verarbeitung:
    |  Authentifizierungsverfahren, Bereitstellung unserer Online-Dienste und Benutzerfreundlichkeit, Kontaktanfragen und Kommunikation, Sicherheitsmaßnahmen, Verwaltung und Beantwortung von Anfragen
  li
    strong Rechtsgrundlage:
    |  Einwilligung (Artikel 6 (1) (a) GDPR), Erfüllung einer rechtlichen Verpflichtung (Artikel 6 (1) (c) GDPR), Schutz lebenswichtiger Interessen (Artikel 6 (1) (d) GDPR), berechtigte Interessen (Artikel 6 (1) (f) GDPR).
  p
  strong In Anspruch genommene Dienste und Diensteanbieter:
  ul.m-elements
  li
    strong Webserver der Universität:
    |  Webserver; Dienstanbieter: Universität Konstanz, Universitätsstraße 10, 78464 Konstanz, Deutschland; Website: 
    a(href='https://www.kim.uni-konstanz.de/') https://www.kim.uni-konstanz.de/
    | ; Datenschutzbestimmungen: 
    a(href='https://www.uni-konstanz.de/universitaet/allginfo-footer/datenschutzinformation/') https://www.uni-konstanz.de/universitaet/allginfo-footer/datenschutzinformation/
    | .
  li
    strong Postmark:
    |  Transactional Email Service; Dienstanbieter: Wildbit, LLC, 225 Chestnut Street, Philadelphia, PA, 19106, USA; Website: 
    a(href='https://postmarkapp.com/') https://postmarkapp.com/
    | ; Datenschutzbestimmungen: 
    a(href='https://wildbit.com/privacy-policy') https://wildbit.com/privacy-policy
    | .

  h5.headerLink#m27 Sicherheitsvorkehrungen
  p
  | Wir treffen nach Maßgabe der gesetzlichen Bestimmungen unter Berücksichtigung des Stands der Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeit und Schwere des Risikos für die Rechte und Freiheiten natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Maß an Sicherheit zu gewährleisten.
  p
  | Zu den Maßnahmen gehören insbesondere die Wahrung der Vertraulichkeit, Integrität und Verfügbarkeit der Daten durch die Kontrolle des physischen und elektronischen Zugangs zu den Daten sowie des Zugangs zu den Daten, ihrer Eingabe, Übermittlung, Sicherung und Trennung der Daten. Darüber hinaus haben wir Verfahren eingeführt, die sicherstellen, dass die Rechte der betroffenen Personen gewahrt werden, dass Daten gelöscht werden und dass wir darauf vorbereitet sind, rasch auf Datenbedrohungen zu reagieren. Darüber hinaus berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung oder Auswahl von Hardware, Software und Dienstleistern gemäß dem Grundsatz "privacy by design" und "privacy by default".
  p
  strong Maskierung der IP-Adresse
  | : Im Allgemeinen werden die IP-Adressen von Forschern und Teilnehmern nicht erfasst und gespeichert. Sollte dies in Zukunft doch einmal der Fall sein, werden wir Ihre IP-Adresse kürzen oder kürzen lassen. Bei der Verkürzung der IP-Adresse, auch "IP-Masking" genannt, wird das letzte Oktett, d.h. die letzten beiden Ziffern einer IP-Adresse, gelöscht (die IP-Adresse ist in diesem Zusammenhang eine vom Online-Zugangsanbieter individuell vergebene Kennung für einen Internetanschluss). Mit der Verkürzung der IP-Adresse soll die Identifizierung einer Person anhand ihrer IP-Adresse verhindert oder erheblich erschwert werden.
  p
  strong SSL-Verschlüsselung (https)
  | : Um Ihre über unser Online-Angebot übermittelten Daten bestmöglich zu schützen, verwenden wir eine SSL-Verschlüsselung. Sie erkennen solche verschlüsselten Verbindungen an dem Präfix https:// in der Adresszeile Ihres Browsers.
  p
  h5.headerLink#m25 Übermittlung und Weitergabe von personenbezogenen Daten
  | Im Rahmen der Verarbeitung personenbezogener Daten durch uns kann es vorkommen, dass die Daten an andere Stellen, Unternehmen oder Personen übermittelt oder diesen gegenüber offengelegt werden. Empfänger dieser Daten können z.B. Zahlungsinstitute im Rahmen des Zahlungsverkehrs, mit IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und Inhalten, die in eine Website eingebunden sind, sein. In einem solchen Fall werden die gesetzlichen Vorgaben beachtet und insbesondere entsprechende Verträge oder Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern Ihrer Daten geschlossen.
  h5.headerLink#m24 Datenverarbeitung in Drittländern
  p
  | Sofern wir Daten in einem Drittland (d.h. außerhalb der Europäischen Union (EU), des Europäischen Wirtschaftsraums (EWR)) verarbeiten oder die Verarbeitung im Rahmen der Inanspruchnahme von Diensten Dritter oder der Offenlegung oder Übermittlung von Daten an andere Personen, Stellen oder Unternehmen erfolgt, geschieht dies nur nach Maßgabe der gesetzlichen Bestimmungen.
  p
  | Vorbehaltlich einer ausdrücklichen Einwilligung oder einer vertraglich oder gesetzlich vorgeschriebenen Übermittlung verarbeiten wir die Daten nur in Drittländern mit anerkanntem Datenschutzniveau, auf der Grundlage besonderer Garantien, wie z.B. einer vertraglichen Verpflichtung durch sog. Standardschutzklauseln der EU-Kommission oder wenn Zertifizierungen oder verbindliche interne Datenschutzvorschriften die Verarbeitung rechtfertigen (Artikel 44 bis 49 DSGVO, Informationsseite der EU-Kommission: 
  a(href='https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_en')
    | https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_en).
  h5.headerLink#m134 Verwendung von Cookies
  p 
  | Wir verwenden keine Cookies von Dritten oder Cookies für Statistiken, Marketing und Personalisierung. Wir verwenden nur notwendige (wesentliche) Cookies, die für den Betrieb einer Website erforderlich sind (z. B. Benutzerauthentifizierung). 
  p
  | Cookies sind Textdateien, die Daten von besuchten Websites oder Domains enthalten und von einem Browser auf dem Computer des Nutzers gespeichert werden. Ein Cookie wird in erster Linie verwendet, um Informationen über einen Benutzer während oder nach seinem Besuch innerhalb eines Online-Dienstes zu speichern. Zu den gespeicherten Informationen gehören z. B. die Spracheinstellungen auf einer Website, der Anmeldestatus, ein Warenkorb oder der Ort, an dem ein Video angesehen wurde. Der Begriff "Cookies" umfasst auch andere Technologien, die dieselben Funktionen wie Cookies erfüllen (z. B. wenn Benutzerinformationen unter Verwendung pseudonymer Online-Kennungen, auch "Benutzer-IDs" genannt, gespeichert werden).
  p
  strong Es werden folgende Arten und Funktionen von Cookies unterschieden:
  ul
  li
    strong Temporäre Cookies (auch: Session-Cookies): 
    | Temporäre Cookies werden spätestens dann gelöscht, wenn ein Nutzer einen Online-Dienst verlassen und seinen Browser geschlossen hat.
  li
    strong Permanente Cookies:
    |  Permanente Cookies bleiben auch nach dem Schließen des Browsers gespeichert. So kann z.B. der Login-Status gespeichert werden oder bevorzugte Inhalte können beim erneuten Besuch einer Website direkt angezeigt werden. Auch die Interessen von Nutzern, die für Reichweitenmessung oder Marketingzwecke verwendet werden, können in einem solchen Cookie gespeichert werden.
  li
    strong First-Party-Cookies
    | : First-Party-Cookies werden von uns selbst gesetzt.
  li
    strong Third-Party-Cookies
    | : Third-Party-Cookies werden hauptsächlich von Werbetreibenden (sog. Dritten) verwendet, um Nutzerinformationen zu verarbeiten.
  li
    strong Notwendige (auch: essentielle) Cookies:
    |  Cookies können für den Betrieb einer Website notwendig sein (z.B. um Logins oder andere Benutzereingaben zu speichern oder aus Sicherheitsgründen).
  li
    strong Statistik-, Marketing- und Personalisierungs-Cookies
    | : Cookies werden in der Regel auch verwendet, um die Reichweite einer Website zu messen und wenn die Interessen oder das Verhalten eines Nutzers (z. B. Ansehen bestimmter Inhalte, Nutzung von Funktionen usw.) auf einzelnen Websites in einem Nutzerprofil gespeichert werden. Solche Profile werden z. B. verwendet, um den Nutzern Inhalte anzuzeigen, die ihren potenziellen Interessen entsprechen. Dieses Verfahren wird auch als "Tracking" bezeichnet, d. h. die Verfolgung der potenziellen Interessen der Nutzer. . Wenn wir Cookies oder "Tracking"-Technologien verwenden, werden wir Sie in unserer Datenschutzerklärung oder im Rahmen der Einholung einer Einwilligung gesondert darüber informieren.
  p
  strong Informationen zur Rechtsgrundlage:
  |  Die Rechtsgrundlage, auf der wir Ihre personenbezogenen Daten mit Hilfe von Cookies verarbeiten, hängt davon ab, ob wir Sie um Ihre Einwilligung bitten. Wenn dies der Fall ist und Sie in die Verwendung von Cookies einwilligen, ist die Rechtsgrundlage für die Verarbeitung Ihrer Daten Ihre erklärte Einwilligung. Andernfalls erfolgt die Verarbeitung der mit Hilfe von Cookies verarbeiteten Daten auf der Grundlage unserer berechtigten Interessen (z. B. am Betrieb unseres Online-Angebots und dessen Verbesserung) oder, wenn der Einsatz von Cookies zur Erfüllung unserer vertraglichen Verpflichtungen erforderlich ist.
  p
  strong Aufbewahrungsfrist: 
  | Sofern wir Sie nicht explizit über die Speicherdauer von permanenten Cookies informieren (z.B. im Rahmen eines sog. Cookie-Opt-Ins), gehen Sie bitte davon aus, dass die Speicherdauer bis zu zwei Jahre betragen kann.
  p
  strong  Allgemeine Informationen zum Widerruf der Einwilligung und zum Widerspruch (Opt-Out):
  |  Unabhängig davon, ob die Verarbeitung auf einer Einwilligung oder einer gesetzlichen Erlaubnis beruht, haben Sie jederzeit die Möglichkeit, der Verarbeitung Ihrer Daten mittels Cookie-Technologien zu widersprechen oder Ihre Einwilligung zu widerrufen (zusammenfassend als "Opt-out" bezeichnet). Ihren Widerspruch können Sie zunächst über die Einstellungen Ihres Browsers erklären, z.B. indem Sie die Verwendung von Cookies deaktivieren (wodurch auch die Funktionalität unserer Online-Dienste eingeschränkt werden kann). Ein Widerspruch gegen die Verwendung von Cookies zu Online-Marketingzwecken kann für eine Vielzahl von Diensten, insbesondere beim Tracking, über die Webseiten 
  a(href='https://www.aboutads.info/choices/') https://www.aboutads.info/choices/
  |  und 
  a(href='https://www.youronlinechoices.com.') https://www.youronlinechoices.com.
  |  Darüber hinaus können Sie weitere Informationen zu Widersprüchen im Rahmen der Informationen zu den verwendeten Dienstleistern und Cookies erhalten.
  p
  strong Verarbeitung von Cookie-Daten auf der Grundlage einer Einwilligung
  | : Bevor wir Daten im Rahmen des Einsatzes von Cookies verarbeiten oder verarbeiten lassen, fragen wir die Nutzer nach ihrer jederzeit widerrufbaren Einwilligung. Bevor die Einwilligung nicht erteilt wurde, können wir Cookies verwenden, die für den Betrieb unserer Online-Dienste notwendig sind.
  ul.m-elements
  li
    strong Verarbeitete Datenarten:
    |  Meta-/Kommunikationsdaten (z. B. Cookies).
  li
    strong Betroffene Personen:
    |  Forscher, Teilnehmer.
  li
    strong Rechtsgrundlage:
    |  Einwilligung (Artikel 6 (1) (a) GDPR), berechtigte Interessen (Artikel 6 (1) (f) GDPR).
  
  h5.headerLink#m317 Kommerzielle Dienstleistungen
  p 
  | Die folgenden Informationen zu kommerziellen Dienstleistungen gelten nur für Forscher, die Teilnehmer über die Integration der Samply-Plattform mit Stripe bezahlen möchten.
  p
  | Wir verarbeiten Daten unserer Vertrags- und Geschäftspartner, z.B. Kunden und Interessenten (zusammenfassend "Vertragspartner" genannt) im Rahmen von vertraglichen und vergleichbaren Rechtsverhältnissen sowie der damit verbundenen Handlungen und Kommunikation mit den Vertragspartnern oder vorvertraglich, z.B. zur Beantwortung von Anfragen.
  p
  | Wir verarbeiten diese Daten zur Erfüllung unserer vertraglichen Verpflichtungen, zur Wahrung unserer Rechte und für die mit diesen Daten verbundenen Verwaltungsaufgaben und die geschäftsmäßige Organisation. Wir geben die Daten der Vertragspartner im Rahmen des geltenden Rechts nur an Dritte weiter, soweit dies für die vorgenannten Zwecke oder zur Erfüllung gesetzlicher Pflichten erforderlich ist oder die betroffenen Personen eingewilligt haben (z.B. Telekommunikations-, Transport- und sonstige Hilfsdienste sowie Subunternehmer, Banken, Steuer- und Rechtsberater, Zahlungsdienstleister oder Finanzbehörden). Die Vertragspartner werden über die Weiterverarbeitung, z.B. zu Marketingzwecken, im Rahmen dieser Datenschutzerklärung informiert.
  p
  | Welche Daten für die vorgenannten Zwecke erforderlich sind, teilen wir den Vertragspartnern vor oder im Rahmen der Datenerhebung mit, z.B. in Online-Formularen durch besondere Kennzeichnung (z.B. Farben), und/oder Symbole (z.B. Sternchen o.ä.), oder persönlich.
  p
  | Wir löschen die Daten nach Ablauf gesetzlicher Gewährleistungs- und vergleichbarer Pflichten, d.h. grundsätzlich nach Ablauf von 4 Jahren, es sei denn, die Daten sind in einem Kundenkonto gespeichert oder müssen aus gesetzlichen Gründen der Archivierung aufbewahrt werden (z.B. in der Regel 10 Jahre für steuerliche Zwecke). Im Falle von Daten, die uns der Vertragspartner im Rahmen einer Beauftragung mitgeteilt hat, löschen wir die Daten entsprechend den Vorgaben der Beauftragung, in der Regel nach Beendigung der Beauftragung.
  p
  | Soweit wir uns zur Erbringung unserer Leistungen Drittanbieter oder Plattformen bedienen, gelten im Verhältnis zwischen den Nutzern und den Anbietern die Geschäftsbedingungen und Datenschutzerklärungen der jeweiligen Drittanbieter oder Plattformen.
  p
  strong Kundenkonto
  | : Vertragspartner können ein Kunden- oder Benutzerkonto anlegen. Ist die Registrierung eines Kundenkontos erforderlich, werden die Vertragspartner hierüber sowie über die für die Registrierung erforderlichen Angaben informiert. Die Kundenkonten sind nicht öffentlich und können nicht von Suchmaschinen indexiert werden. Im Zuge der Registrierung und der anschließenden Anmeldung und Nutzung des Kundenkontos speichern wir die IP-Adressen der Vertragspartner sowie die Zugriffszeiten, um die Registrierung nachweisen zu können und einen Missbrauch des Kundenkontos zu verhindern.
  p
  | Wenn Kunden ihr Kundenkonto gekündigt haben, werden ihre Daten in Bezug auf das Kundenkonto gelöscht, sofern ihre Aufbewahrung aus rechtlichen Gründen erforderlich ist. Es liegt in der Verantwortung des Kunden, seine Daten bei Beendigung des Kundenkontos zu sichern.
  p
  | Die erforderlichen Angaben werden im Rahmen des Bestell- oder vergleichbaren Kaufvorgangs als solche gekennzeichnet und umfassen die für die Lieferung oder sonstige Bereitstellung des Produkts und die Rechnungsstellung erforderlichen Angaben sowie Kontaktinformationen, um eine Beratung durchführen zu können.
  p
  strong Projekt- und Entwicklungsleistungen
  | : Wir verarbeiten die Daten unserer Kunden und Klienten (im Folgenden einheitlich als "Kunden" bezeichnet), um ihnen die Auswahl, den Erwerb oder die Beauftragung der ausgewählten Dienstleistungen oder Arbeiten sowie der damit verbundenen Tätigkeiten zu ermöglichen und um diese Dienstleistungen oder Arbeiten zu bezahlen und zur Verfügung zu stellen oder durchzuführen.
  p
  | Die erforderlichen Informationen werden im Rahmen des Vertragsabschlusses, der Bestellung oder eines gleichwertigen Vertrages als solche angegeben und umfassen die für die Erbringung der Dienstleistungen und die Rechnungsstellung erforderlichen Informationen sowie die Kontaktdaten, um eventuelle Beratungen durchführen zu können. Soweit wir Zugang zu den Daten von Endkunden, Mitarbeitern oder anderen Personen erhalten, verarbeiten wir diese gemäß den gesetzlichen und vertraglichen Bestimmungen.
  p
  strong Software und Plattformdienste
  | : Wir verarbeiten die Daten unserer Nutzer, registrierter und etwaiger Testnutzer (nachfolgend einheitlich "Nutzer" genannt), um ihnen unsere vertraglichen Leistungen zur Verfügung zu stellen und auf der Grundlage berechtigter Interessen, um die Sicherheit unseres Angebotes zu gewährleisten und es weiterzuentwickeln. Die erforderlichen Angaben werden im Rahmen des Abschlusses des Vertrages, der Bestellung oder eines vergleichbaren Vertrages als solche gekennzeichnet und umfassen die für die Leistungserbringung und Abrechnung erforderlichen Angaben sowie Kontaktinformationen, um ggf. weitere Beratungen durchführen zu können.
  ul.m-elements
  li
    strong Verarbeitete Datenarten:
    |  Daten des Forschers (z. B. Name, Institut, E-Mail, Sprache), Daten des Teilnehmers (z. B. E-Mail, Zeitzone, Zeitpräferenzen, Teilnehmercode)
  li
    strong Datensubjekte:
    |  Forscher, Teilnehmer.
  li
    strong Zwecke der Verarbeitung:
    |  Vertragliche Dienstleistungen und Unterstützung, Kontaktanfragen und Kommunikation, Büro- und Organisationsabläufe, Verwaltung und Beantwortung von Anfragen, Sicherheitsmaßnahmen.
  li
    strong Rechtsgrundlage:
    |  Erfüllung eines Vertrags und vorheriger Anfragen (Artikel 6 (1) (b) GDPR), Erfüllung einer rechtlichen Verpflichtung (Artikel 6 (1) (c) GDPR), Berechtigte Interessen (Artikel 6 (1) (f) GDPR).
  p
  strong Dienste und Dienstleister, die genutzt werden:
  ul.m-elements
  li
    strong Stripe:
    |  Zahlungsabwicklungsplattform; Dienstanbieter: Stripe Inc., 354 Oyster Point Blvd South San Francisco, CA 94080 United States; Website: 
    a(href='https://stripe.com/') https://stripe.com/
    | ; Datenschutzbestimmungen: 
    a(href='https://stripe.com/en-de/privacy') https://stripe.com/en-de/privacy
    | .
        
  h5.headerLink#m367 Registrierung, Anmeldung und Benutzerkonto
  p
  | Nutzer können ein Nutzerkonto anlegen. Im Rahmen der Registrierung werden den Nutzern die erforderlichen Pflichtangaben mitgeteilt und zum Zwecke der Bereitstellung des Nutzerkontos auf Grundlage der vertraglichen Leistungserfüllung verarbeitet. Zu den verarbeiteten Daten gehören insbesondere die Anmeldeinformationen (Name, Passwort und eine E-Mail-Adresse). Die bei der Registrierung eingegebenen Daten werden für die Nutzung des Benutzerkontos und dessen Zweck verwendet.
  p
  | Die Nutzer können per E-Mail über Informationen informiert werden, die für ihr Nutzerkonto relevant sind, z. B. über technische Änderungen. Wenn Nutzer ihr Nutzerkonto gekündigt haben, werden ihre Daten in Bezug auf das Nutzerkonto vorbehaltlich einer gesetzlichen Aufbewahrungspflicht gelöscht. Es liegt in der Verantwortung der Nutzer, ihre Daten im Falle einer Kündigung vor dem Vertragsende zu sichern. Wir sind berechtigt, alle während der Laufzeit des Vertrages gespeicherten Daten der Nutzer unwiederbringlich zu löschen.
  p
  | Im Rahmen der Nutzung unserer Registrierungs- und Anmeldefunktionen sowie der Nutzung des Nutzerkontos speichern wir die IP-Adresse und den Zeitpunkt der jeweiligen Nutzeraktion. Die Speicherung erfolgt auf Grundlage unserer berechtigten Interessen, sowie zum Schutz des Nutzers vor Missbrauch und sonstiger unberechtigter Nutzung. Eine Weitergabe dieser Daten an Dritte erfolgt nicht, es sei denn, dies ist zur Verfolgung unserer Ansprüche erforderlich oder es besteht eine gesetzliche Verpflichtung dazu.
  ul.m-elements
  li
    strong Verarbeitete Datenarten:
    |  Daten des Forschers (z. B. Name, E-Mail), Daten des Teilnehmers (z. B. E-Mail)
  li
    strong  Datensubjekte:
    |  Forscher, Teilnehmer.
  li
    strong Zwecke der Verarbeitung:
    |  Vertragliche Dienstleistungen und Unterstützung, Sicherheitsmaßnahmen, Verwaltung und Beantwortung von Anfragen.
  li
    strong Rechtsgrundlage:
    |  Einwilligung (Artikel 6 (1) (a) GDPR), Vertragserfüllung und vorherige Anfragen (Artikel 6 (1) (b) GDPR), berechtigte Interessen (Artikel 6 (1) (f) GDPR).
  
  h5.headerLink#m182 Kontaktaufnahme mit uns
  p
  | Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder über soziale Medien) werden die Angaben der anfragenden Personen verarbeitet, soweit dies zur Beantwortung der Kontaktanfrage und der gewünschten Aktivitäten erforderlich ist.
  p
  | Die Beantwortung von Kontaktanfragen im Rahmen von vertraglichen oder vorvertraglichen Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten oder zur Beantwortung von (vor-)vertraglichen Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an der Beantwortung der Anfragen.
  ul.m-elements
  li
    strong Verarbeitete Datentypen:
    |   Kontaktinformationen (z. B. E-Mail, Telefonnummern)
  li
    strong  Datensubjekte:
    |  Forscher, Teilnehmer.
  li
    strong Zwecke der Verarbeitung:
    |  Kontaktanfragen und Kommunikation.
  li
    strong Rechtsgrundlage:
    |  Vertragserfüllung und vorherige Anfragen (Artikel 6 (1) (b) GDPR), berechtigte Interessen (Artikel 6 (1) (f) GDPR).
  
  h5.headerLink#m12 Löschung von Daten
  p
  | Die von uns verarbeiteten Daten werden gemäß den gesetzlichen Bestimmungen gelöscht, sobald die Verarbeitung widerrufen wird oder andere Erlaubnisse entfallen (z.B. wenn der Zweck der Verarbeitung dieser Daten entfällt oder sie für den Zweck nicht mehr erforderlich sind).Die von uns verarbeiteten Daten werden gemäß den gesetzlichen Bestimmungen gelöscht, sobald die Verarbeitung widerrufen wird oder andere Erlaubnisse entfallen (z.B. wenn der Zweck der Verarbeitung dieser Daten entfällt oder sie für den Zweck nicht mehr erforderlich sind).
  p
  | Werden die Daten nicht gelöscht, weil sie für andere, gesetzlich zulässige Zwecke erforderlich sind, wird ihre Verarbeitung auf diese Zwecke beschränkt. Das heißt, die Daten werden eingeschränkt und nicht für andere Zwecke verarbeitet. Dies gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Aufbewahrung zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person erforderlich ist.
  p
  | Weitere Informationen zur Löschung von personenbezogenen Daten finden Sie auch in den einzelnen Datenschutzhinweisen dieser Datenschutzerklärung.
  h5.headerLink#m15 Änderungen und Aktualisierungen der Datenschutzrichtlinie
  p
  | Wir bitten Sie, sich regelmäßig über die Inhalte unserer Datenschutzerklärung zu informieren. Wir werden die Datenschutzerklärung anpassen, wenn Änderungen in unserer Datenverarbeitungspraxis dies erforderlich machen. Wir werden Sie informieren, sobald die Änderungen Ihre Mitwirkung (z.B. Einwilligung) oder eine andere individuelle Mitteilung erfordern.
  p
  | Wenn wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und Organisationen angeben, bitten wir Sie zu beachten, dass sich die Adressen im Laufe der Zeit ändern können, und die Informationen zu überprüfen, bevor Sie uns kontaktieren.
  h5.headerLink#m10 Rechte der betroffenen Personen
  p
  | Als betroffene Person stehen Ihnen nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus den Artikeln 15 bis 21 der DSGVO ergeben:
  ul
  li
    strong Recht auf Widerspruch: 
    | Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Artikel 6 Absatz 1 Buchstabe e) oder f) DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.
    | Werden personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
  li
    strong Recht auf Widerruf von Einwilligungen:
    |  Sie haben das Recht, Einwilligungen jederzeit zu widerrufen.
  li
    strong Recht auf Zugang:
    |  Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob die betreffenden Daten verarbeitet werden, und über diese Daten informiert zu werden sowie weitere Informationen und eine Kopie der Daten gemäß den gesetzlichen Bestimmungen zu erhalten.
  li
    strong Recht auf Berichtigung:
    |  Sie haben das Recht, nach Maßgabe der gesetzlichen Bestimmungen die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu verlangen.
  li
    strong Recht auf Löschung und Recht auf Einschränkung der Verarbeitung:
    |  Sie haben nach Maßgabe der gesetzlichen Bestimmungen das Recht, die unverzügliche Löschung der betreffenden Daten zu verlangen oder alternativ die Einschränkung der Verarbeitung der Daten nach Maßgabe der gesetzlichen Bestimmungen zu verlangen.
  li
    strong Recht auf Datenübertragbarkeit:
    |  Sie haben das Recht, die Sie betreffenden Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format entsprechend den gesetzlichen Vorgaben zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu verlangen.
  li
    strong Beschwerde bei einer Aufsichtsbehörde:
    |  Sie haben außerdem das Recht, unter den gesetzlich festgelegten Bedingungen eine Beschwerde bei einer Aufsichtsbehörde einzureichen, insbesondere in dem Mitgliedstaat Ihres gewöhnlichen Aufenthalts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
  h5.headerLink#m42 Terminologie und Definitionen
  p
  | Dieser Abschnitt gibt einen Überblick über die in dieser Datenschutzrichtlinie verwendeten Begriffe. Viele der Begriffe stammen aus dem Gesetz und sind hauptsächlich in Artikel 4 DSGVO definiert. Die gesetzlichen Definitionen sind verbindlich. Die folgenden Erläuterungen dienen dagegen vor allem dem Verständnis. Die Begriffe sind alphabetisch geordnet.
  ul.glossary
  li
    strong Controller:
    |  Der "für die Verarbeitung Verantwortliche" ist die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet.
  li
    strong Personenbezogene Daten:
    |  "Personenbezogene Daten" sind alle Informationen über eine bestimmte oder bestimmbare natürliche Person ("betroffene Person"); als bestimmbar wird eine natürliche Person angesehen, die direkt oder indirekt identifiziert werden kann, insbesondere durch Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
  li
    strong Verarbeitung:
    |  Der Begriff "Verarbeitung" umfasst ein breites Spektrum und praktisch jeden Umgang mit Daten, sei es die Erhebung, Auswertung, Speicherung, Übermittlung oder Löschung.
  li
    strong Remarketing:
    |  Unter "Remarketing" oder "Retargeting" versteht man z.B., dass zu Werbezwecken angezeigt wird, für welche Produkte sich ein Nutzer auf einer Website interessiert, um den Nutzer auf anderen Websites, z.B. in Anzeigen, an diese Produkte zu erinnern.
  li
    strong Targeting:
    |  Von "Tracking" spricht man, wenn das Verhalten von Nutzern über mehrere Websites hinweg nachvollzogen werden kann. In der Regel werden in Cookies oder auf den Servern der Anbieter von Tracking-Technologien Verhaltens- und Interesseninformationen über die genutzten Websites gespeichert (sog. Profiling). Diese Informationen können dann z.B. genutzt werden, um den Nutzern Werbung anzuzeigen, die ihren Interessen vermutlich entspricht.
  li
    strong Webanalyse:
    |  Web Analytics dient der Auswertung des Besucherverkehrs von Online-Diensten und kann deren Verhalten oder Interessen an bestimmten Informationen, wie z.B. Inhalte von Webseiten, ermitteln. Mit Hilfe von Web Analytics können z.B. Website-Betreiber erkennen, zu welcher Zeit Besucher ihre Website besuchen und für welche Inhalte sie sich interessieren. So können sie zum Beispiel den Inhalt der Website optimieren, um den Bedürfnissen ihrer Besucher besser gerecht zu werden. Zu Zwecken der Webanalyse werden häufig pseudonyme Cookies und Web Beacons eingesetzt, um wiederkehrende Besucher zu erkennen und so genauere Analysen über die Nutzung eines Online-Angebots zu erhalten.
  p.seal
  a(href='https://datenschutz-generator.de/?l=de', title='Legal text by Dr. Schwenke - please click for further information.', rel='noopener noreferrer nofollow')
    img(src='https://datenschutz-generator.de/wp-content/plugins/ts-dsg/images/dsg-seal/dsg-seal-pp-en.png', alt='Legal text by Dr. Schwenke - please click for further information.', width='250', height='250')
