mixin data()

  h5 
    .headerLink !{l.data_participants_title}
  p.card-message 
    | #{l.data_participants_1}
  
  //- h5 
  //-   .headerLink !{l.data_results_title}
  //- p.card-message 
  //-   | #{l.data_results_1}
  

  

    
