mixin impressum()

  h4 
    .headerLink Impressum
  h5.headerLink#m46 Diensteanbieter
  p iScience Forschung Gruppe 
  p Konstanz Universität
  p Universitätsstraße 10
  p 78464 Konstanz
  p Deutschland
  h5.headerLink#m56 Kontaktmöglichkeiten
  p
    strong E-Mail-Adresse:
    |  yury.shevchenko@uni.kn
  p
    strong Telefon:
    |  (49) 178 418 81 54
  p
    strong Website: 
    a(href='https://iscience.uni-konstanz.de/' target="_blank") https://iscience.uni-konstanz.de/
    
  h5.headerLink#m153 Vertretungsberechtigte
  p
    strong Vertretungsberechtigt:
    |  Yury Shevchenko (Entwickler)
  
