mixin invitations()

  
  h5 
    .headerLink !{l.data_invitations_title}
  p.card-message 
    | #{l.invitations_1}
  p.card-message
    | #{l.invitations_2}
  p.card-message
    | #{l.invitations_3}
