mixin legalnotice()
  
  h4 
    .headerLink Legal Notice
  h5.headerLink#m46 Provider
  p iScience research group 
  p University of Konstanz
  p Universitätsstraße 10
  p 78464 Konstanz
  p Germany
  h5.headerLink#m56 Contact Options
  p
  strong E-Mail Address:
  |  yury.shevchenko@uni.kn
  p
  strong Phone:
  |  (49) 178 418 81 54
  p
  strong Website: 
  a(href='https://iscience.uni-konstanz.de/' target="_blank") https://iscience.uni-konstanz.de/
  p
  h5.headerLink#m153 Representatives
  p
  strong Developer:
  |  Yury Shevchenko
  
