mixin notifications()

  h5 
    .headerLink !{l.notifications_title}
  p.card-message 
    | #{l.notifications_1}
    
  p.card-message 
    | #{l.notifications_2}
  
  p.card-message 
    | #{l.notifications_3}
    
  
