mixin policy()
  
  h4 
    .headerLink Privacy Policy
  h5.headerLink Preamble
  p
  | With the following privacy policy we would like to inform you which types of your personal data (hereinafter also abbreviated as "data") we process for which purposes and in which scope. The privacy statement applies to all processing of personal data carried out by us, both in the context of providing our services and in particular on our websites, in mobile applications and within external online presences, such as our social media profiles (hereinafter collectively referred to as "online services").
  p The terms used are not gender-specific.
  p Last Update: 8. July 2022
  h5.headerLink Table of contents
  ul.index
  li
    a.index-link(href='#m14') Preamble
  li
    a.index-link(href='#m3') Controller
  li
    a.index-link(href='#mOverview') Overview of processing operations
  li
    a.index-link(href='#m13') Legal Bases for the Processing
  li
    a.index-link(href='#m27') Security Precautions
  li
    a.index-link(href='#m25') Transmission and Disclosure of Personal Data
  li
    a.index-link(href='#m24') Data Processing in Third Countries
  li
    a.index-link(href='#m134') Use of Cookies
  li
    a.index-link(href='#m317') Commercial Services
  li
    a.index-link(href='#m200') Provision of mobile apllication Samply Research
  li
    a.index-link(href='#m225') Provision of online services and web hosting
  li
    a.index-link(href='#m367') Registration, Login and User Account
  li
    a.index-link(href='#m104') Blogs and publication media
  li
    a.index-link(href='#m182') Contacting us
  li
    a.index-link(href='#m17') Newsletter and Electronic Communications
  li
    a.index-link(href='#m638') Commercial communication by E-Mail, Postal Mail, Fax or Telephone
  li
    a.index-link(href='#m136') Profiles in Social Networks (Social Media)
  li
    a.index-link(href='#m328') Plugins and embedded functions and content
  li
    a.index-link(href='#m12') Erasure of data
  li
    a.index-link(href='#m15') Changes and Updates to the Privacy Policy
  li
    a.index-link(href='#m10') Rights of Data Subjects
  li
    a.index-link(href='#m42') Terminology and Definitions
  h5.headerLink#m3 Controller
  p
  | iScience Research Group / University of Konstanz
  br
  | Universitätsstraße 10
  br
  | 78464, Constance, Germany
  p
  strong Authorised Representatives:
  |  Yury Shevchenko
  p
  strong E-mail address:
  |  yury.shevchenko@uni.kn
  p
  strong Phone:
  |  (49) 178 418 81 54
  p
  strong Legal Notice: 
  a(href='/docs/legalnotice') https://samply.uni-konstanz.de/docs/legalnotice
  h5.headerLink#mOverview Overview of processing operations
  p
  | The following table summarises the types of data processed, the purposes for which they are processed and the concerned data subjects.
  h5 Categories of Processed Data
  ul
  li Inventory data (e.g. names).
  li Content data (e.g. text input, images).
  li Contact data (e.g. e-mail).
  li Meta/communication data (e.g. device information, IP addresses).
  li Usage data (e.g. websites visited access times).
  li Contract data (e.g. contract object, duration, customer category).
  h5 Categories of Data Subjects
  ul
  li Contractual partners.
  li Communication partner (Recipients of e-mails, letters, etc.).
  li Users (e.g. website visitors, users of online services).
  h5 Purposes of Processing
  ul
  li Authentication processes.
  li Provision of our online services and usability.
  li Office and organisational procedures.
  li Content Delivery Network (CDN).
  li Feedback (e.g. collecting feedback via online form).
  li Contact requests and communication.
  li Web Analytics (e.g. access statistics, recognition of returning visitors).
  li Security measures.
  li Contractual services and support.
  li Managing and responding to inquiries.
  h5.headerLink#m13 Legal Bases for the Processing
  p
  | In the following we inform you about the legal basis of the General Data Protection Regulation (GDPR), on the basis of which we process personal data. Please note that, in addition to the regulations of the GDPR, the national data protection regulations may apply in your country or in our country of residence or domicile. If, in addition, more specific legal bases are applicable in individual cases, we will inform you of these in the data protection declaration.
  ul
  li
    strong Consent (Article 6 (1) (a) GDPR)
    |  - The data subject has given consent to the processing of his or her personal data for one or more specific purposes.
  li
    strong Performance of a contract and prior requests (Article 6 (1) (b) GDPR)
    |  - Performance of a contract to which the data subject is party or in order to take steps at the request of the data subject prior to entering into a contract.
  li
    strong Compliance with a legal obligation (Article 6 (1) (c) GDPR)
    |  - Processing is necessary for compliance with a legal obligation to which the controller is subject.
  li
    strong Protection of vital interests (Article 6 (1) (d) GDPR)
    |  - Processing is necessary in order to protect the vital interests of the data subject or of another natural person.
  li
    strong Legitimate Interests (Article 6 (1) (f) GDPR)
    |  - Processing is necessary for the purposes of the legitimate interests pursued by the controller or by a third party, except where such interests are overridden by the interests or fundamental rights and freedoms of the data subject which require protection of personal data.
  p
  strong National data protection regulations in Germany
  | : In addition to the data protection regulations of the General Data Protection Regulation, national regulations apply to data protection in Germany. This includes in particular the Law on Protection against Misuse of Personal Data in Data Processing (Federal Data Protection Act - BDSG). In particular, the BDSG contains special provisions on the right to access, the right to erase, the right to object, the processing of special categories of personal data, processing for other purposes and transmission as well as automated individual decision-making, including profiling. Furthermore, it regulates data processing for the purposes of the employment relationship (§ 26 BDSG), in particular with regard to the establishment, execution or termination of employment relationships as well as the consent of employees. Furthermore, data protection laws of the individual federal states may apply.
  h5.headerLink#m27 Security Precautions
  p
  | We take appropriate technical and organisational measures in accordance with the legal requirements, taking into account the  state of the art, the costs of implementation and the nature, scope, context and purposes of processing as well as the risk of varying likelihood and severity for the rights and freedoms of natural persons, in order to ensure a level of security appropriate to the risk.
  p
  | The measures include, in particular, safeguarding the confidentiality, integrity and availability of data by controlling physical and electronic access to the data as well as access to, input, transmission, securing and separation of the data. In addition, we have established procedures to ensure that data subjects' rights are respected, that data is erased, and that we are prepared to respond to data threats rapidly. Furthermore, we take the protection of personal data into account as early as the development or selection of hardware, software and service providers, in accordance with the principle of privacy by design and privacy by default.
  p
  strong Masking of the IP address
  | : If it is possible for us or the storage of the IP address is not necessary, we shorten or have your IP address shortened. When the IP address is shortened, also known as "IP masking", the last octet, i.e. the last two numbers of an IP address, is deleted (the IP address in this context is an identifier individually assigned to an Internet connection by the online access provider). With the shortening of the IP address, the identification of a person on the basis of their IP address is to be prevented or made considerably more difficult.
  p
  strong SSL encryption (https)
  | : In order to protect your data transmitted via our online services in the best possible way, we use SSL encryption. You can recognize such encrypted connections by the prefix https:// in the address bar of your browser.
  h5.headerLink#m25 Transmission and Disclosure of Personal Data
  p
  | In the context of our processing of personal data, it may happen that the data is transferred to other places, companies or persons or that it is disclosed to them. Recipients of this data may include, for example, payment institutions within the context of payment transactions, service providers commissioned with IT tasks or providers of services and content that are embedded in a website. In such a case, the legal requirements will be respected and in particular corresponding contracts or agreements, which serve the protection of your data, will be concluded with the recipients of your data.
  h5.headerLink#m24 Data Processing in Third Countries
  p
  | If we process data in a third country (i.e. outside the European Union (EU), the European Economic Area (EEA)) or the processing takes place in the context of the use of third party services or disclosure or transfer of data to other persons, bodies or companies, this will only take place in accordance with the legal requirements.
  p
  | Subject to express consent or transfer required by contract or law, we process or have processed the data only in third countries with a recognised level of data protection, on the basis of special guarantees, such as a contractual obligation through so-called standard protection clauses of the EU Commission or if certifications or binding internal data protection regulations justify the processing (Article 44 to 49 GDPR, information page of the EU Commission: 
  a(href='https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_en')
    | https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection_en).
  h5.headerLink#m134 Use of Cookies
  p
  | Cookies are text files that contain data from visited websites or domains and are stored by a browser on the user's computer. A cookie is primarily used to store information about a user during or after his visit within an online service. The information stored can include, for example, the language settings on a website, the login status, a shopping basket or the location where a video was viewed. The term "cookies" also includes other technologies that fulfil the same functions as cookies (e.g. if user information is stored using pseudonymous online identifiers, also referred to as "user IDs").
  p
  strong The following types and functions of cookies are distinguished:
  ul
  li
    strong Temporary cookies (also: session cookies): 
    | Temporary cookies are deleted at the latest after a user has left an online service and closed his browser.
  li
    strong Permanent cookies:
    |  Permanent cookies remain stored even after closing the browser. For example, the login status can be saved or preferred content can be displayed directly when the user visits a website again. The interests of users who are used for range measurement or marketing purposes can also be stored in such a cookie.
  li
    strong First-Party-Cookies
    | : First-Party-Cookies are set by ourselves.
  li
    strong Third party cookies
    | : Third party cookies are mainly used by advertisers (so-called third parties) to process user information.
  li
    strong Necessary (also: essential) cookies:
    |  Cookies can be necessary for the operation of a website (e.g. to save logins or other user inputs or for security reasons).
  li
    strong Statistics, marketing and personalisation cookies
    | : Cookies are also generally used to measure a website's reach and when a user's interests or behaviour (e.g. viewing certain content, using functions, etc.) are stored on individual websites in a user profile. Such profiles are used, for example, to display content to users that corresponds to their potential interests. This procedure is also referred to as "tracking", i.e. tracking the potential interests of users. . If we use cookies or "tracking" technologies, we will inform you separately in our privacy policy or in the context of obtaining consent.
  p
  strong Information on legal basis:
  |  The legal basis on which we process your personal data with the help of cookies depends on whether we ask you for your consent. If this applies and you consent to the use of cookies, the legal basis for processing your data is your declared consent. Otherwise, the data processed with the help of cookies will be processed on the basis of our legitimate interests (e.g. in a business operation of our online service and its improvement) or, if the use of cookies is necessary to fulfill our contractual obligations.
  p
  strong Retention period: 
  | Unless we provide you with explicit information on the retention period of permanent cookies (e.g. within the scope of a so-called cookie opt-in), please assume that the retention period can be as long as two years.
  p
  strong General information on Withdrawal of consent and objection (Opt-Out): 
  | Respective of whether processing is based on consent or legal permission, you have the option at any time to object to the processing of your data using cookie technologies or to revoke consent (collectively referred to as "opt-out"). You can initially explain your objection using the settings of your browser, e.g. by deactivating the use of cookies (which may also restrict the functionality of our online services). An objection to the use of cookies for online marketing purposes can be raised for a large number of services, especially in the case of tracking, via the websites 
  a(href='https://www.aboutads.info/choices/') https://www.aboutads.info/choices/
  |  and 
  a(href='https://www.youronlinechoices.com.') https://www.youronlinechoices.com.
  |  In addition, you can receive further information on objections in the context of the information on the used service providers and cookies.
  p
  strong Processing Cookie Data on the Basis of Consent
  | : Before we process or have processed data within the context of the usage of cookies, we ask the users for their consent, which can be revoked at any time. Before the consent has not been given, we may use cookies that are necessary for the operation of our online services.
  ul.m-elements
  li
    strong Processed data types:
    |  Usage data (e.g. websites visited, interest in content, access times), Meta/communication data (e.g. device information, IP addresses).
  li
    strong Data subjects:
    |  Users (e.g. website visitors, users of online services).
  li
    strong Legal Basis:
    |  Consent (Article 6 (1) (a) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  h5.headerLink#m317 Commercial Services
  p
  | We process data of our contractual and business partners, e.g. customers and interested parties (collectively referred to as "contractual partners") within the context of contractual and comparable legal relationships as well as associated actions and communication with the contractual partners or pre-contractually, e.g. to answer inquiries.
  p
  | We process this data in order to fulfil our contractual obligations, safeguard our rights and for the purposes of the administrative tasks associated with this data and the business-related organisation. We will only pass on the data of the contractual partners within the scope of the applicable law to third parties insofar as this is necessary for the aforementioned purposes or for the fulfilment of legal obligations or with the consent of data subjects concerned (e.g. telecommunications, transport and other auxiliary services as well as subcontractors, banks, tax and legal advisors, payment service providers or tax authorities). The contractual partners will be informed about further processing, e.g. for marketing purposes, as part of this privacy policy.
  p
  | Which data are necessary for the aforementioned purposes, we inform the contracting partners before or in the context of the data collection, e.g. in on-line forms by special marking (e.g. colors), and/or symbols (e.g. asterisks or the like), or personally.
  p
  | We delete the data after expiry of statutory warranty and comparable obligations, i.e. in principle after expiry of 4 years, unless the data is stored in a customer account or must be kept for legal reasons of archiving (e.g., as a rule 10 years for tax purposes). In the case of data disclosed to us by the contractual partner within the context of an assignment, we delete the data in accordance with the specifications of the assignment, in general after the end of the assignment.
  p
  | If we use third-party providers or platforms to provide our services, the terms and conditions and privacy policies of the respective third-party providers or platforms shall apply in the relationship between the users and the providers.
  p
  strong Customer Account
  | : Contractual partners can create a customer or user account. If the registration of a customer account is required, contractual partnerswill be informed of this as well as of the details required for registration. The customer accounts are not public and cannot be indexed by search engines. In the course of registration and subsequent registration and use of the customer account, we store the IP addresses of the contractual partners along with the access times, in order to be able to prove the registration and prevent any misuse of the customer account.
  p
  | If customers have terminated their customer account, their data will be deleted with regard to the customer account, subject to their retention is required for legal reasons. It is the responsibility of the customer to secure their data upon termination of the customer account.
  p
  strong Online Shop and E-Commerce
  | : We process the data of our customers in order to enable them to select, purchase or order the selected products, goods and related services, as well as their payment and delivery, or performance of other services.
  p
  | The required details are identified as such in the course of the ordering or comparable purchasing process and include the details required for delivery, or other way of making the product aviable and invoicing as well as contact information in order to be able to hold any consultation.
  p
  strong Project and Development Services
  | : We process the data of our customers and clients (hereinafter uniformly referred to as "customers") in order to enable them to select, acquire or commission the selected services or works as well as associated activities and to pay for and make available such services or works or to perform such services or works.
  p
  | The required information is indicated as such within the framework of the conclusion of the agreement, order or equivalent contract and includes the information required for the provision of services and invoicing as well as contact information in order to be able to hold any consultations. Insofar as we gain access to the information of end customers, employees or other persons, we process it in accordance with the legal and contractual requirements.
  p
  strong Software and Platform Services
  | : We process the data of our users, registered and any test users (hereinafter uniformly referred to as "users") in order to provide them with our contractual services and on the basis of legitimate interests to ensure the security of our offer and to develop it further. The required details are identified as such within the context of the conclusion of the agreement, order or comparable contract and include the details required for the provision of services and invoicing as well as contact information in order to be able to hold any further consultations.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Contract data (e.g. contract object, duration, customer category), Usage data (e.g. websites visited, interest in content, access times), Meta/communication data (e.g. device information, IP addresses).
  li
    strong Data subjects:
    |  Prospective customers, Business and contractual partners, Customers.
  li
    strong Purposes of Processing:
    |  Contractual services and support, contact requests and communication, Office and organisational procedures, Managing and responding to inquiries, Security measures.
  li
    strong Legal Basis:
    |  Performance of a contract and prior requests (Article 6 (1) (b) GDPR), Compliance with a legal obligation (Article 6 (1) (c) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  p
  strong Services and service providers being used:
  ul.m-elements
  li
    strong Stripe:
    |  Payment processing platform; Service provider: Stripe Inc., 354 Oyster Point Blvd South San Francisco, CA 94080 United States; Website: 
    a(href='https://stripe.com/') https://stripe.com/
    | ; Privacy Policy: 
    a(href='https://stripe.com/en-de/privacy') https://stripe.com/en-de/privacy
    | .
      
  h5.headerLink#m200 Provision of mobile aplication Samply Research
  
  p 
  strong User Provided Information: 
  | The application obtains the information you provide when you download and register the application. 
  | Registration with us is mandatory in order to be able to use the basic features of the application.
  | When you register with us and use the application, you provide 
  | (a) your email address and password; 
  | (b) your smartphone's timezone and language;
  | (c) information you provide us when you contact us for help; 
  | (d) information you enter into our system when using the application, such as when joining a study;
  | (e) your current location information when using the application and when the application is closed, if you participate in a study that uses geofencing.

  p 
  strong Using your current location at the background: 
  | Some of the studies may require sending you a link to online surveys when you enter or leave a particular location (e.g., workplace).
  | For this reason, if you join a study that uses type of contact with participants, you will be asked to allow constant location tracking. 
  | If you agree, the application will continuously track your location even when the application is closed.
  | The application will not share your location data with third party services or researchers. 
  | Your location information will be only used to trigger notifications with links to online surveys that are created by researchers.
  | You can always enable or disable location tracking for a specific study within the application.
  | If you do not want us to use your location for the above purposes, you should turn off the location services for the mobile application located in your account settings or in your mobile phone settings and/or within the mobile application. 
  
  p
  strong Automatically Collected Information:
  |  In addition, the application may collect certain information automatically, including, but not limited to, the type of mobile device you use, 
  | your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the application. 
  
  p
  strong Data Retention Policy, Managing Your Information:
  | You can stop all collection of information by the application easily by uninstalling the application. 
  | You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. 
  | You can also request to opt-out via email, at yury.shevchenko@uni.kn.

  p
  strong Services and service providers being used:
  ul.m-elements
  li
    strong Expo:
    |  Toolkit and platform to build a mobile application and release it to Anroid and iOS; 
    | Service provider: Expo; Website: 
    a(href='https://expo.dev/') https://expo.dev/
    | ; Privacy Policy: 
    a(href='https://expo.dev/privacy') https://expo.dev/privacy
    | .
  li
    strong App Store:
    |  App store platform for mobile apps on iOS and iPadOS operating systems; 
    | Service provider: Apple Inc., One Apple Park Way; Cupertino, CA 95014, U.S.A.; Website: 
    a(href='https://www.apple.com/app-store/') https://www.apple.com/app-store/
    | ; Privacy Policy: 
    a(href='https://www.apple.com/privacy/') https://www.apple.com/privacy/
    | .
  li
    strong Google Play:
    |  App store platform for devices running on the Android operating system and its derivatives as well as Chrome OS; 
    | Service provider: Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, U.S.A.; Website: 
    a(href='https://play.google.com/store') https://play.google.com/store
    | ; Privacy Policy: 
    a(href='https://policies.google.com/privacy') https://policies.google.com/privacy
    | .
    
  h5.headerLink#m225 Provision of online services and web hosting
  p
  | In order to provide our online services securely and efficiently, we use the services of one or more web hosting providers from whose servers (or servers they manage) the online services can be accessed. For these purposes, we may use infrastructure and platform services, computing capacity, storage space and database services, as well as security and technical maintenance services.
  p
  | The data processed within the framework of the provision of the hosting services may include all information relating to the users of our online services that is collected in the course of use and communication. This regularly includes the IP address, which is necessary to be able to deliver the contents of online services to browsers, and all entries made within our online services or from websites.
  p
  strong E-mail Sending and Hosting
  | : The web hosting services we use also include sending, receiving and storing e-mails. For these purposes, the addresses of the recipients and senders, as well as other information relating to the sending of e-mails (e.g. the providers involved) and the contents of the respective e-mails are processed. The above data may also be processed for SPAM detection purposes. Please note that e-mails on the Internet are generally not sent in encrypted form. As a rule, e-mails are encrypted during transport, but not on the servers from which they are sent and received (unless a so-called end-to-end encryption method is used). We can therefore accept no responsibility for the transmission path of e-mails between the sender and reception on our server.
  p
  strong Collection of Access Data and Log Files
  | : We, ourselves or our web hosting provider, collect data on the basis of each access to the server (so-called server log files). Server log files may include the address and name of the web pages and files accessed, the date and time of access, data volumes transferred, notification of successful access, browser type and version, the user's operating system, referrer URL (the previously visited page) and, as a general rule, IP addresses and the requesting provider.
  p
  | The server log files can be used for security purposes, e.g. to avoid overloading the servers (especially in the case of abusive attacks, so-called DDoS attacks) and to ensure the stability and optimal load balancing of the servers .
  p
  strong Content-Delivery-Network
  | : We use a so-called "Content Delivery Network" (CDN). A CDN is a service with whose help contents of our online services, in particular large media files, such as graphics or scripts, can be delivered faster and more securely with the help of regionally distributed servers connected via the Internet.
  ul.m-elements
  li
    strong Processed data types:
    |  Content data (e.g. text input, photographs, videos), Usage data (e.g. websites visited, interest in content, access times), Meta/communication data (e.g. device information, IP addresses).
  li
    strong Data subjects:
    |  Users (e.g. website visitors, users of online services).
  li
    strong Purposes of Processing:
    |  Content Delivery Network (CDN).
  li
    strong Legal Basis:
    |  Legitimate Interests (Article 6 (1) (f) GDPR).
  p
  strong Services and service providers being used:
  ul.m-elements
  li
    strong University web server:
    |  Web server; Service provider: University of Konstanz, Universitätsstraße 10, 78464 Konstanz, Germany; Website: 
    a(href='https://www.kim.uni-konstanz.de/en/') https://www.kim.uni-konstanz.de/en/
    | ; Privacy Policy: 
    a(href='https://www.uni-konstanz.de/en/university/general-information/information-on-data-protection/') https://www.uni-konstanz.de/en/university/general-information/information-on-data-protection/
    | .
  li
    strong Postmark:
    |  Transactional Email Service; Service provider: Wildbit, LLC, 225 Chestnut Street, Philadelphia, PA, 19106, USA; Website: 
    a(href='https://postmarkapp.com/') https://postmarkapp.com/
    | ; Privacy Policy: 
    a(href='https://wildbit.com/privacy-policy') https://wildbit.com/privacy-policy
    | .
  h5.headerLink#m367 Registration, Login and User Account
  p
  | Users can create a user account. Within the scope of registration, the required mandatory information is communicated to the users and processed for the purposes of providing the user account on the basis of contractual fulfilment of obligations. The processed data includes in particular the login information (name, password and an e-mail address). The data entered during registration will be used for the purposes of using the user account and its purpose.
  p
  | Users may be informed by e-mail of information relevant to their user account, such as technical changes. If users have terminated their user account, their data will be deleted with regard to the user account, subject to a statutory retention obligation. It is the responsibility of the users to secure their data before the end of the contract in the event of termination. We are entitled to irretrievably delete all user data stored during the term of the contract.
  p
  | Within the scope of using our registration and login functions as well as the use of the user account, we store the IP address and the time of the respective user action. The storage is based on our legitimate interests, as well as the user's protection against misuse and other unauthorized use. This data will not be passed on to third parties unless it is necessary to pursue our claims or there is a legal obligation to do so.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text input, photographs, videos), Meta/communication data (e.g. device information, IP addresses).
  li
    strong Data subjects:
    |  Users (e.g. website visitors, users of online services).
  li
    strong Purposes of Processing:
    |  Contractual services and support, Security measures, Managing and responding to inquiries.
  li
    strong Legal Basis:
    |  Consent (Article 6 (1) (a) GDPR), Performance of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  
  h5.headerLink#m104 Blogs and publication media
  p
  | We use blogos or comparable means of online communication and publication (hereinafter "publication medium"). Readers' data will only be processed for the purposes of the publication medium to the extent necessary for its presentation and communication between authors and readers or for security reasons. For the rest, we refer to the information on the processing of visitors to our publication medium within the scope of this privacy policy.
  p
  strong Comment subscriptions
  | : When users leave comments or other contributions, their IP addresses may be stored based on our legitimate interests. This is done for our safety, if someone leaves illegal contents (insults, forbidden political propaganda, etc.) in comments and contributions. In this case, we ourselves can be prosecuted for the comment or contribution and are therefore interested in the author's identity.
  p
  | Furthermore, we reserve the right to process user data for the purpose of spam detection on the basis of our legitimate interests.
  p
  | On the same legal basis, in the case of surveys, we reserve the right to store the IP addresses of users for the duration of the surveys and to use cookies in order to avoid multiple votes.
  p
  | The personal information provided in the course of comments and contributions, any contact and website information as well as the content information will be stored permanently by us until the user objects.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text input, photographs, videos), Usage data (e.g. websites visited, interest in content, access times), Meta/communication data (e.g. device information, IP addresses).
  li
    strong Data subjects:
    |  Users (e.g. website visitors, users of online services).
  li
    strong Purposes of Processing:
    |  Contractual services and support, Feedback (e.g. collecting feedback via online form), Security measures, Managing and responding to inquiries.
  li
    strong Legal Basis:
    |  Performance of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR), Consent (Article 6 (1) (a) GDPR), Pprotection of vital interests (Article 6 (1) (d) GDPR).
  h5.headerLink#m182 Contacting us
  p
  | When contacting us (e.g. by contact form, e-mail, telephone or via social media), the data of the inquiring persons are processed insofar as this is necessary to answer the contact enquiries and any requested activities.
  p
  | The response to contact enquiries within the framework of contractual or pre-contractual relationships is made in order to fulfil our contractual obligations or to respond to (pre)contractual enquiries and otherwise on the basis of the legitimate interests in responding to the enquiries.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text input, photographs, videos).
  li
    strong Data subjects:
    |  Communication partner (Recipients of e-mails, letters, etc.).
  li
    strong Purposes of Processing:
    |  contact requests and communication.
  li
    strong Legal Basis:
    |  Performance of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  h5.headerLink#m17 Newsletter and Electronic Communications
  p
  | We send newsletters, e-mails and other electronic communications (hereinafter referred to as "newsletters") only with the consent of the recipient or a legal permission. Insofar as the contents of the newsletter are specifically described within the framework of registration, they are decisive for the consent of the user. Otherwise, our newsletters contain information about our services and us.
  p
  | In order to subscribe to our newsletters, it is generally sufficient to enter your e-mail address. We may, however, ask you to provide a name for the purpose of contacting you personally in the newsletter or to provide further information if this is required for the purposes of the newsletter.
  p
  strong Double opt-in procedure:
  |  The registration to our newsletter takes place in general in a so-called Double-Opt-In procedure. This means that you will receive an e-mail after registration asking you to confirm your registration. This confirmation is necessary so that no one can register with external e-mail addresses.
  p
  | The registrations for the newsletter are logged in order to be able to prove the registration process according to the legal requirements. This includes storing the login and confirmation times as well as the IP address. Likewise the changes of your data stored with the dispatch service provider are logged.
  p
  strong Deletion and restriction of processing:
  |  We may store the unsubscribed email addresses for up to three years based on our legitimate interests before deleting them to provide evidence of prior consent. The processing of these data is limited to the purpose of a possible defense against claims. An individual deletion request is possible at any time, provided that the former existence of a consent is confirmed at the same time. In the case of an obligation to permanently observe an objection, we reserve the right to store the e-mail address solely for this purpose in a blacklist.
  p
  strong Information on legal bases:
  |  The sending of the newsletter is based on the consent of the recipients or, if consent is not required, on the basis of our legitimate interests in direct marketing. Insofar as we engage a service provider for sending e-mails, this is done on the basis of our legitimate interests. The registration procedure is recorded on the basis of our legitimate interests for the purpose of demonstrating that it has been conducted in accordance with the law.
  p
  strong Contents:
  |  Information about us, our services, promotions and offers.
  p
  strong Analysis and performance measurement
  | : The newsletters contain a so-called "web-beacon", i.e. a pixel-sized file, which is retrieved from our server when the newsletter is opened or, if we use a mailing service provider, from its server. Within the scope of this retrieval, technical information such as information about the browser and your system, as well as your IP address and time of retrieval are first collected.
  p
  | This information is used for the technical improvement of our newsletter on the basis of technical data or target groups and their reading behaviour on the basis of their retrieval points (which can be determined with the help of the IP address) or access times. This analysis also includes determining whether newsletters are opened, when they are opened and which links are clicked. For technical reasons, this information can be assigned to the individual newsletter recipients. It is, however, neither our endeavour nor, if used, that of the shipping service provider to observe individual users. The evaluations serve us much more to recognize the reading habits of our users and to adapt our content to them or to send different content according to the interests of our users.
  p
  | The evaluation of the newsletter and the measurement of success is carried out, subject to the express consent of the user, on the basis of our legitimate interests for the purposes of using a user-friendly and secure newsletter system which serves both our business interests and the expectations of the user.
  p
  | A separate objection to the performance measurement is unfortunately not possible, in this case the entire newsletter subscription must be cancelled or objected to.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Meta/communication data (e.g. device information, IP addresses), Usage data (e.g. websites visited, interest in content, access times).
  li
    strong Data subjects:
    |  Communication partner (Recipients of e-mails, letters, etc.).
  li
    strong Purposes of Processing:
    |  Direct marketing  (e.g. by e-mail or postal).
  li
    strong Legal Basis:
    |  Consent (Article 6 (1) (a) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  li
    strong Opt-Out:
    |  You can cancel the receipt of our newsletter at any time, i.e. revoke your consent or object to further receipt. You will find a link to cancel the newsletter either at the end of each newsletter or you can otherwise use one of the contact options listed above, preferably e-mail.
  h5.headerLink#m638 Commercial communication by E-Mail, Postal Mail, Fax or Telephone
  p
  | We process personal data for the purposes of promotional communication, which may be carried out via various channels, such as e-mail, telephone, post or fax, in accordance with the legal requirements.
  p
  | The recipients have the right to withdraw their consent at any time or to object to the advertising communication at any time.
  p
  | After withdrawal or objection, we may store the data required to prove consent for up to three years on the basis of our legitimate interests before we delete them. The processing of these data is limited to the purpose of a possible defense against claims. An individual deletion request is possible at any time, provided that the former existence of a consent is affirmed.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers).
  li
    strong Data subjects:
    |  Communication partner (Recipients of e-mails, letters, etc.).
  li
    strong Purposes of Processing:
    |  Direct marketing  (e.g. by e-mail or postal).
  li
    strong Legal Basis:
    |  Consent (Article 6 (1) (a) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  h5.headerLink#m136 Profiles in Social Networks (Social Media)
  p
  | We maintain online presences within social networks and process user data in this context in order to communicate with the users active there or to offer information about us.
  p
  | We would like to point out that user data may be processed outside the European Union. This may entail risks for users, e.g. by making it more difficult to enforce users' rights.
  p
  | In addition, user data is usually processed within social networks for market research and advertising purposes. For example, user profiles can be created on the basis of user behaviour and the associated interests of users. The user profiles can then be used, for example, to place advertisements within and outside the networks which are presumed to correspond to the interests of the users. For these purposes, cookies are usually stored on the user's computer, in which the user's usage behaviour and interests are stored. Furthermore, data can be stored in the user profiles independently of the devices used by the users (especially if the users are members of the respective networs or will become members later on).
  p
  | For a detailed description of the respective processing operations and the opt-out options, please refer to the respective data protection declarations and information provided by the providers of the respective networks.
  p
  | Also in the case of requests for information and the exercise of rights of data subjects, we point out that these can be most effectively pursued with the providers. Only the providers have access to the data of the users and can directly take appropriate measures and provide information. If you still need help, please do not hesitate to contact us.
  ul.m-elements
  li
    strong Processed data types:
    |  Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text input, photographs, videos), Usage data (e.g. websites visited, interest in content, access times), Meta/communication data (e.g. device information, IP addresses).
  li
    strong Data subjects:
    |  Users (e.g. website visitors, users of online services).
  li
    strong Purposes of Processing:
    |  contact requests and communication, Targeting (e.g. profiling based on interests and behaviour, use of cookies), Remarketing, Web Analytics (e.g. access statistics, recognition of returning visitors).
  li
    strong Legal Basis:
    |  Legitimate Interests (Article 6 (1) (f) GDPR).
  p
  strong Services and service providers being used:
  ul.m-elements
  li
    strong Facebook:
    |  Social network; Service provider: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland, parent company: Facebook, 1 Hacker Way, Menlo Park, CA 94025, USA; Website: 
    a(href='https://www.facebook.com') https://www.facebook.com
    | ; Privacy Policy: 
    a(href='https://www.facebook.com/about/privacy') https://www.facebook.com/about/privacy
    | ; Opt-Out: Settings for advertisements: 
    a(href='https://www.facebook.com/settings?tab=ads') https://www.facebook.com/settings?tab=ads
    | ; Additional information on data protection: Agreement on the joint controll of processing of personal data on Facebook pages: 
    a(href='https://www.facebook.com/legal/terms/page_controller_addendum') https://www.facebook.com/legal/terms/page_controller_addendum
    | , privacy policy for Facebook pages: 
    a(href='https://www.facebook.com/legal/terms/information_about_page_insights_data') https://www.facebook.com/legal/terms/information_about_page_insights_data
    | .
  h5.headerLink#m328 Plugins and embedded functions and content
  p
  | Within our online services, we integrate functional and content elements that are obtained from the servers of their respective providers (hereinafter referred to as "third-party providers"). These may, for example, be graphics, videos or social media buttons as well as contributions (hereinafter uniformly referred to as "Content").
  p
  | The integration always presupposes that the third-party providers of this content process the IP address of the user, since they could not send the content to their browser without the IP address. The IP address is therefore required for the presentation of these contents or functions. We strive to use only those contents, whose respective offerers use the IP address only for the distribution of the contents. Third parties may also use so-called pixel tags (invisible graphics, also known as "web beacons") for statistical or marketing purposes. The "pixel tags" can be used to evaluate information such as visitor traffic on the pages of this website. The pseudonymous information may also be stored in cookies on the user's device and may include technical information about the browser and operating system, referring websites, visit times and other information about the use of our website, as well as may be linked to such information from other sources.
  p
  strong Information on legal basis:
  |  If we ask users for their consent (e.g. in the context of a so-called "cookie banner consent"), the legal basis for processing is this consent. Otherwise, user data will be processed on the basis of our legitimate interests (i.e. interest in the analysis, optimisation and economic operation of our online services. We refer you to the note on the use of cookies in this privacy policy.
  ul.m-elements
  li
    strong Processed data types:
    |  Usage data (e.g. websites visited, interest in content, access times), Meta/communication data (e.g. device information, IP addresses), Inventory data (e.g. names, addresses), Contact data (e.g. e-mail, telephone numbers), Content data (e.g. text input, photographs, videos).
  li
    strong Data subjects:
    |  Users (e.g. website visitors, users of online services).
  li
    strong Purposes of Processing:
    |  Provision of our online services and usability, Contractual services and support, Security measures, Managing and responding to inquiries.
  li
    strong Legal Basis:
    |  Consent (Article 6 (1) (a) GDPR), Performance of a contract and prior requests (Article 6 (1) (b) GDPR), Legitimate Interests (Article 6 (1) (f) GDPR).
  p
  strong Services and service providers being used:
  ul.m-elements
  li
    strong YouTube videos:
    |  Video contents; Service provider: Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland, parent company: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; Website: 
    a(href='https://www.youtube.com') https://www.youtube.com
    | ; Privacy Policy: 
    a(href='https://policies.google.com/privacy') https://policies.google.com/privacy
    | ; Opt-Out: Opt-Out-Plugin: 
    a(href='https://tools.google.com/dlpage/gaoptout?hl=en') https://tools.google.com/dlpage/gaoptout?hl=en
    | ,  Settings for the Display of Advertisements: 
    a(href='https://adssettings.google.com/authenticated') https://adssettings.google.com/authenticated
    | .
  h5.headerLink#m12 Erasure of data
  p
  | The data processed by us will be erased in accordance with the statutory provisions as soon as their processing is revoked or other permissions no longer apply (e.g. if the purpose of processing this data no longer applies or they are not required for the purpose).
  p
  | If the data is not deleted because they are required for other and legally permissible purposes, their processing is limited to these purposes. This means that the data will be restricted and not processed for other purposes. This applies, for example, to data that must be stored for commercial or tax reasons or for which storage is necessary to assert, exercise or defend legal claims or to protect the rights of another natural or legal person.
  p
  | Further information on the erasure of personal data can also be found in the individual data protection notices of this privacy policy.
  h5.headerLink#m15 Changes and Updates to the Privacy Policy
  p
  | We kindly ask you to inform yourself regularly about the contents of our data protection declaration. We will adjust the privacy policy as changes in our data processing practices make this necessary. We will inform you as soon as the changes require your cooperation (e.g. consent) or other individual notification.
  p
  | If we provide addresses and contact information of companies and organizations in this privacy policy, we ask you to note that addresses may change over time and to verify the information before contacting us.
  
  h5.headerLink#m10 Rights of Data Subjects
  p
  | As data subject, you are entitled to various rights under the GDPR, which arise in particular from Articles 15 to 21 of the GDPR:
  ul
  li
    strong Right to Object: 
    | You have the right, on grounds arising from your particular situation, to object at any time to the processing of your personal data which is based on letter (e) or (f) of Article 6(1) GDPR , including profiling based on those provisions.
    | Where personal data are processed for direct marketing purposes, you have the right to object at any time to the processing of the personal data concerning you for the purpose of such marketing, which includes profiling to the extent that it is related to such direct marketing.
  li
    strong Right of withdrawal for consents:
    |  You have the right to revoke consents at any time.
  li
    strong Right of access:
    |  You have the right to request confirmation as to whether the data in question will be processed and to be informed of this data and to receive further information and a copy of the data in accordance with the provisions of the law.
  li
    strong Right to rectification:
    |  You have the right, in accordance with the law, to request the completion of the data concerning you or the rectification of the incorrect data concerning you.
  li
    strong Right to Erasure and Right to Restriction of Processing:
    |  In accordance with the statutory provisions, you have the right to demand that the relevant data be erased immediately or, alternatively, to demand that the processing of the data be restricted in accordance with the statutory provisions.
  li
    strong Right to data portability:
    |  You have the right to receive data concerning you which you have provided to us in a structured, common and machine-readable format in accordance with the legal requirements, or to request its transmission to another controller.
  li
    strong Complaint to the supervisory authority:
    |  You also have the right, under the conditions laid down by law, to lodge a complaint with a supervisory authority, in particular in the Member State of your habitual residence, place of work or place of the alleged infringement if you consider that the processing of personal data relating to you infringes the GDPR.
  h5.headerLink#m42 Terminology and Definitions
  p
  | This section provides an overview of the terms used in this privacy policy. Many of the terms are drawn from the law and defined mainly in Article 4 GDPR. The legal definitions are binding. The following explanations, on the other hand, are intended above all for the purpose of comprehension. The terms are sorted alphabetically.
  ul.glossary
  li
    strong Content Delivery Network (CDN):
    |  A "Content Delivery Network" (CDN) is a service with whose help contents of our online services, in particular large media files, such as graphics or scripts, can be delivered faster and more securely with the help of regionally distributed servers connected via the Internet.
  li
    strong Controller:
    |  "Controller" means the natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the processing of personal data.
  li
    strong Personal Data:
    |  "personal data" means any information relating to an identified or identifiable natural person ("data subject"); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.
  li
    strong Processing:
    |  The term "processing" covers a wide range and practically every handling of data, be it collection, evaluation, storage, transmission or erasure.
  li
    strong Remarketing:
    |  Remarketing" or "retargeting" is the term used, for example, to indicate for advertising purposes which products a user is interested in on a website in order to remind the user of these products on other websites, e.g. in advertisements.
  li
    strong Targeting:
    |  "Tracking" is the term used when the behaviour of users can be traced across several websites. As a rule, behavior and interest information with regard to the websites used is stored in cookies or on the servers of the tracking technology providers (so-called profiling). This information can then be used, for example, to display advertisements to users presumably corresponding to their interests.
  li
    strong Web Analytics:
    |  Web Analytics serves the evaluation of visitor traffic of online services and can determine their behavior or interests in certain information, such as content of websites. With the help of web analytics, website owners, for example, can recognize at what time visitors visit their website and what content they are interested in. This allows them, for example, to optimize the content of the website to better meet the needs of their visitors. For purposes of web analytics, pseudonymous cookies and web beacons are frequently used in order to recognise returning visitors and thus obtain more precise analyses of the use of an online service.
  p.seal
  a(href='https://datenschutz-generator.de/?l=en', title='Legal text by Dr. Schwenke - please click for further information.', rel='noopener noreferrer nofollow')
    img(src='https://datenschutz-generator.de/wp-content/plugins/ts-dsg/images/dsg-seal/dsg-seal-pp-en.png', alt='Legal text by Dr. Schwenke - please click for further information.', width='250', height='250')
