mixin project()

  h5 
    .headerLink !{l.project_projects_title}
  p.card-message 
    | #{l.project_projects_1}
    
  p.card-message 
    | #{l.project_projects_2}
  
  p.card-message 
    | #{l.project_projects_3}
    
  
