mixin chosenTestResults(test = {})

  - const testClass = slug ? test.slug == slug ? 'task_chosen' : 'task_not_chosen' : 'task'

  div(class = testClass)
    .selectedtest
      .store__hero
        img(src=`/uploads/${test.photo || 'store.png' }`)
        h6.title
          a(href=`/data/${test.slug}`) #{test.name}
      .store__details
