mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 #{layout.forgot_title}
    label(for="email") #{layout.email}
    input(type="email" name="email")
    p
    input.button(type="submit" value=layout.forgot_send_button)
