mixin publicTestCard(test = {})


  a(href=`/tests/test/${test.slug}`) 
    .project
      .store__hero
        //-.store__actions
        p 
        p 
        p
        img(src=`/uploads/${test.photo || 'store.png' }`)
        h2.title(style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 100%, rgba(255, 255, 255, 0.8) 50%);") #{test.name}
        p 
        p 
        p
          
      .store__details
        if(test && test.description)
          p= test.description.split(' ').length > 20 ? test.description.split(' ').slice(0,20).join(' ').concat(' ...') : test.description

      
