mixin researchTutorial()
  h5 Overview
  p After successfull login, the following pages are available in the top menu:
  ul
    li
      strong Test -
      | The task dashboard for a user.
    li
      strong Top -
      | The rating of users.
    li
      strong My results -
      | Personal results in tests.
    li
      strong Tags -
      | The tests can be selected by tags on this page.
    li
      strong Tests -
      | All tests and their results are displayed here. Any test can be started from here.
    li
      strong Users -
      | The list of users with their results is displayed here.
    li
      strong Search field -
      | Search for a test with keywords.
    li
      strong Featured tests -
      | Your featured tests are displayed here.
    li
      strong Profile -
      | Editing your profile information.
    li
      strong Logout

  p
    | Tags, Tests, Users, Search field, and Favorites pages are only available for a researcher.
    | Test, Top, My results, and Profile pages are also displayed for a user.

  h6 Test
  p
    | The list of tasks on this page shows which task comes next.
    | The test has a name and a short description.
    | Press the button
    i Start next task
    | to proceed to the next test.
    | During a test, follow the instructions on the screen.
    | At the end of the tests, you will see on the main page which tests you have accomplished.
    | After you have completed a test, you cannot repeat this test.
    | The tests are run in a predifined order.
    | If you want to run a particular test, go to the `Tests` page.

  h6 Top
  p
    | The rating list displays the overall results of users.
    | The users are ordered according to the total score.
    | The position in the rating, the nickname of a user, the number of completed tests, and the total score are shown.

  h6 My results
  p
    | Here you can see your results for each test.
    | The information in each row includes the name of a task, the date and time of completing the test, the general results,
    | and the link to downloading the full data.
    | Only a researcher can download the data here.
    | For a user, the link is not shown.

  h6 Tags
  p
    | Tags are intended to assign tests to different categories for easier search and navigation between tasks.
    | Each test can have several tags (e.g., inhibition, memory).
    | Click a tag to select only tests that belong to that tag.

  h6 Tests
  p
    | This page displays all tests.
    | Each card with a test contains a name of the test and a short description.
    | There are three links on the test card: a heart icon, a message icon, and the name of the test.
    | If you click on the heart icon, you add the test to your personal featured tests.
    | This test will be available on the page
    i Featured.
    | Clicking the message icon will take you to the results of this test.
    | By clicking on the name of a test, you can open a page of this test.
    | On this page, you can start the test or view the test results of all users.

  h6 Users
  p The table contains data for each user:
    ul
      li Number: Number in the table
      li ID number of the user
      li Date and time of user registration
      li Status of the account (user or researcher)
      li Tests: Number of completed tests
      li Details: The link to the page with results for each user
      li Download: The link to download all data of a user
      li Metadata: The link to download the metadata of a user. Metadata contain the information about the computer settings and timezone.

  p
    | You can download user's data by clicking on the
    i Download
    | link.
    | The data file is downloaded in
    i csv
    | format and has a name of the user ID.
    | The data entries in the file are separated by commas.
    | To view the results of each test for a specific user, click on the
    i Details
    | link.

  h6 Search field
  p
    | You can search for a test by entering key words (e.g., delay, sorting).
    | The results that match the name of the task will be displayed in the drop-down menu.

  h6 Profile
  p
    | You can change your nickname here.
    | Press
    i Update my account
    | to save the changes.

  h6 Logout
  p
    | Finally, you can sign-out by clicking the
    i Logout
    | button.
    | To login back again, proceed to the main page for researchers (/research).
