mixin userTutorial()
  h5 Overview
  p
    | After successfull login, the following pages are available in the top menu:
  ul
    li
      strong Test -
      | The task dashboard.
    li
      strong Top -
      | The rating of users.
    li
      strong My results -
      | Your personal results.
    li
      strong Profile -
      | Editing your profile information.
    li
      strong Logout

  h6 Test
  p
    | The list of tasks on this page shows which task comes next.
    | The test has a name and a short description.
    | Press the button
    i Start next task
    | to proceed to the next test.
    | During a test, follow the instructions on the screen.
    | At the end of the tests, you will see on the main page which tests you have accomplished.
    | After you have completed a test, you cannot repeat this test.
    | The tests are run in a predifined order.

  h6 Top
  p
    | The rating list displays the overall results of users.
    | The users are ordered according to the total score.
    | The position in the rating, the nickname of a user, the number of completed tests, and the total score are shown.

  h6 My results
  p
    | Here you can see your results for each test.
    | The information in each row includes the name of a task, the date and time of completing the test, and the general results.

  h6 Profile
  p
    | You can change your nickname here.
    | Press
    i Update my account
    | to save the changes.

  h6 Logout
  p
    | Finally, you can sign-out by clicking the
    i Logout
    | button.
    | To login back again, proceed to the main page.
