mixin intro()
  
  h5 
    .headerLink Public vs. Private studies
      p 9 June 2021
  
  p.card-message    
    |At the current moment, all active studies are by default visible for participants in the tab "Studies" in the mobile app "Samply Research". This is not very convenient both for participants and researchers. Participants might get confused by the large number of studies (in particular, the studies that are still in development, such as "test studies" and so on). Researchers, on the other hand, might be not interested in recruiting from general population, but wish to recruit participants individually, without disclosing a study to a general audience.
  p.card-message    
    | To solve this problem, the following changes will be implemented in June 2021. Each of your studies has two switches on this <a target="_blank" href="https://samply.uni-konstanz.de/projects">page</a> with your projects.
  p.card-message  
    | You can activate the study with the "Active" toggle switch.  When you activate the study, the link to the study web page should be displayed on the study card. This web page contains the QR code that a participant can use to take part in the study. This does not require your study to be in the list of public studies in the mobile app. Participants can find your study by clicking on the "Find a study" link in the mobile app (tab "Home") and then scanning the QR code with a camera.
  p.card-message  
    | The second toggle is to make a study public. If you would like to make your study public and visible to anyone using the mobile app, please submit a request for approval by clicking on the toggle switch "Public" and following further instructions. Note that only studies with complete instructions, consent forms, researcher information, and a confirmed researcher email address can be approved. If you would like to test your study, you don't need to make your study public -  please use the direct invitation with QR code option instead.
  p.card-message  
    |On June 21 (2 weeks from now), non-public studies will be hidden from the "Studies" tab in the mobile app. If you would like to make your study public, please submit a request via the menu on the Samply website (click the "Public" toggle switch on the study card <a target="_blank" href="https://samply.uni-konstanz.de/projects">here</a> and then follow the instructions). 
  p.card-message  
    | If you notice some problems and errors, please let us know via <a href="mailto:yury.shevchenko@uni.kn">email</a> or in our <a target="_blank" href="https://join.slack.com/t/samply-workspace/shared_invite/zt-e085hyyv-pFczGQFnVCA2w8lkcTmk6w">Slack channel</a>.
