mixin intro()
  
  h5 
    .headerLink Adjusting to the participant's time zone
      p  4 May 2022

  p.card-message
    | This update allows you to schedule notifications that are adjusted to the participant's time zone. 
    | For example, if you select 8 PM, it will be 8 PM in each participant's local time zone.
    | Adjusting the time to the participant's time zone works work for future and current participants with a specified time zone.
    | You can see whether a participant has specified the time zone on the <a target="_blank" href="/users">participant page</a>.
    | If the participant's timezone is missing or incorrect, the participant can adjust it in the mobile app in the settings menu.
    | Adjusting the time zone does not work for group notifications because group notifications are sent to
    | all group members at the same time, so you must explicitly select the time zone for these notifications.
    
  h5 
    .headerLink Language localization
      p 11 April 2022

  p.card-message
    | With the update of the mobile app (version 1.6.5) the user interface now supports three languages: English, German, and Russian. 
    | If the participant's default language is one of these languages, the app will be displayed in the respective language. 
    | The default language for other languages remains English. 
    | If you want the app in another language, please see the <a target="_blank" href="https://github.com/Yury-Shevchenko/samply/issues/18">GitHub page </a> where we coordinate the translation of the app into other languages.
    
  h5 
    .headerLink Expiration time for notification links
      p 8 March 2022

  p.card-message    
    | With this new update, you can select the expiration time for the link in the notifications. 
    | For example, if you want participants to respond in a time window of 1 hour. 
    | The expiration time counts from the time when the notification is sent from the server. 
    | Unless the device is disconnected from the network (for example, in airplane mode) or notifications are disabled, the delivery time is close to the sending time (within a range of a second).
    | After the link expires, participants can no longer open it from the notification tab or in the Samply app.
    
  h5 
    .headerLink Selecting timezone in notifications
      p 23 December 2021

  p.card-message    
    | A new update allows you to select a timezone for your notifications. 
    | For example, if you are in Europe and your participants are in the United States, you can select their timezone and set up notifications in their local time.
    | Before this update, some of the notifications were scheduled based on the server's time zone, which is Central European Time. 
    | However, this caused problems for users in other timezones. 
    | With the new update, any new notification schedule you create will have a specific timezone and will work according to that timezone.

  h5 
    .headerLink Public vs. Private studies
      p 9 June 2021
  
  p.card-message    
    | At the current moment, all active studies are by default visible for participants in the tab "Studies" in the mobile app "Samply Research". This is not very convenient both for participants and researchers. Participants might get confused by the large number of studies (in particular, the studies that are still in development, such as "test studies" and so on). Researchers, on the other hand, might be not interested in recruiting from general population, but wish to recruit participants individually, without disclosing a study to a general audience.
  p.card-message    
    | To solve this problem, the following changes will be implemented in June 2021. Each of your studies has two switches on this <a target="_blank" href="https://samply.uni-konstanz.de/projects">page</a> with your projects.
  p.card-message  
    | You can activate the study with the "Active" toggle switch.  When you activate the study, the link to the study web page should be displayed on the study card. This web page contains the QR code that a participant can use to take part in the study. This does not require your study to be in the list of public studies in the mobile app. Participants can find your study by clicking on the "Find a study" link in the mobile app (tab "Home") and then scanning the QR code with a camera.
  p.card-message  
    | The second toggle is to make a study public. If you would like to make your study public and visible to anyone using the mobile app, please submit a request for approval by clicking on the toggle switch "Public" and following further instructions. Note that only studies with complete instructions, consent forms, researcher information, and a confirmed researcher email address can be approved. If you would like to test your study, you don't need to make your study public -  please use the direct invitation with QR code option instead.
  p.card-message  
    | On June 21 (2 weeks from now), non-public studies will be hidden from the "Studies" tab in the mobile app. If you would like to make your study public, please submit a request via the menu on the Samply website (click the "Public" toggle switch on the study card <a target="_blank" href="https://samply.uni-konstanz.de/projects">here</a> and then follow the instructions). 
  p.card-message  
    | If you notice some problems and errors, please let us know via <a href="mailto:yury.shevchenko@uni.kn">email</a> or in our <a target="_blank" href="https://join.slack.com/t/samply-workspace/shared_invite/zt-e085hyyv-pFczGQFnVCA2w8lkcTmk6w">Slack channel</a>.
