.authform {
  background: white;
  text-align: center;
  //margin-top: 20px;
  display: grid;
  //grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  justify-content: center;
}

.authButton {
  border: 0;
  background: white;
  border: 1px solid #ddd;
  color: $black;
  font-family: 'Bebas';
  font-weight: 600;
  margin: 5%;
  padding: 5%;
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  letter-spacing: 0.5px;
}

.authButton:hover {
  // border: 1px solid #ddd;
  background: #f1fff5;
}

.authsign {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto;
  justify-content: center;
  font-size: 2rem;

}
