:root{
  --yellow: #ffc600;
  --black: #272727;
}

.constructor {
  display: grid;
  grid-gap: 5px;
  // grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  // grid-auto-rows: 80px auto;
}

.constructor-blocks {
  margin: 1em;
  // background-color: #f9f7f7;
  //background: white;
  //padding: 5rem;
  //box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.header-program{
  //margin: 1em;
  text-align: center;
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  // border-radius: 10px;
}

.items {
  display: grid;
  grid-gap: 10px;
  width: inherit;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px,auto));
  //margin: 1em;
}

.tags {
  display: grid;
  grid-gap: 2px;
  // padding: 1rem;
  // box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  grid-template-columns: repeat(auto-fill, minmax(200px,auto));
  //justify-content: space-around;
  //margin: 1em;
}

.chosentest {
  display: grid;
  grid-template-columns: (1fr 3fr);
  grid-gap: 5px;
}

.choosetogle{
  display: grid;
  justify-content: center;
  align-items: center;
}

.timelength{
  display: grid;
  justify-content: center;
  align-items: center;
}

.selectedtest {
  background:white;
  margin: 10px 0;
  width: auto;
  box-shadow: $shad;
  &--wide {
    width: 100%;
  }
  &__details {
    padding: 2rem;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: 100%;
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}
