input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $grey;
  // box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 0%, 0.05);
  &.input {
    &--error {
      border-color: red;
    }
  }
}

// textarea {
//   box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 0%, 0.05);
// }

label {
  padding: 10px 0;
  display: block;
}

.form {
  //max-width: 500px;
  background: white;
  padding: 2rem;
  //box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}

.loginForm {
  min-width: 345px;
  max-width: 345px;
  // background: white;
  text-align:center;
  padding: 2rem;
  //box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}
