html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  background: #fcfcff;
}

.content {
  min-height: 99%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.content-inside {
  padding-bottom: 100px;
}

footer {
  border-top: 1px #e8e8f1 solid;
  background: #fcfcff;
  padding: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1);
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.cameraPanel video, .cameraPanel canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

.cameraPanel #pick-image {
  display: none;
}

.cameraPanel #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}

#location-loader {
  display: none;
}

.container_picker{
  width: 250px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.notificationsPanel {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-column-gap: 20px;
}

.notificationContainer{
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(40px, 120px));
  // grid-column-gap: 20px;
  // align-items: stretch;
  // font-size: larger;
}

.cronintervalPicker{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  max-width: 500px;
}

#enable_notifications{
  display: none;
}

#disable_notifications{
  display: none;
}

.bg-image-participants {
  /* The image used */
  background-image: url('/images/photos/mobile_phone.jpg');
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  // /* Full height */
  z-index: -1000;
  position:absolute;
  height: 100%;
  width: 100%;
  // /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-researchers {
  /* The image used */
  background-image: url('/images/photos/graph.jpg');
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  // /* Full height */
  z-index: -1000;
  position:absolute;
  height: 100%;
  width: 100%;
  // /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-enter {
  /* The image used */
  background-image: url('/images/photos/participant-login.jpg');
  /* Add the blur effect */
  filter: blur(0px);
  -webkit-filter: blur(0px);
  // /* Full height */
  z-index: -1000;
  position:absolute;
  height: 100%;
  width: 100%;
  // /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-studies {
  /* The image used */
  background-image: url('/images/photos/balloons.jpg');
  /* Add the blur effect */
  filter: blur(0px);
  -webkit-filter: blur(0px);
  // /* Full height */
  z-index: -1000;
  position:absolute;
  height: 100%;
  width: 100%;
  // /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
