html {
  font-size: 10px;
}

body {
  //background: $purple;
  background: #fcfcff;
  &:before {
    // content: '';
    // display: block;
    // //background: $grad;
    // background: linear-gradient(10deg, lightskyblue 80%, deepskyblue 90%) fixed;
    // height: 10px;
    // width: 100%;
  }
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.cameraPanel video, .cameraPanel canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

.cameraPanel #pick-image {
  display: none;
}

.cameraPanel #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}

#location-loader {
  display: none;
}

.container_picker{
  width: 250px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.notificationsPanel {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-column-gap: 20px;
}

.notificationContainer{
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(40px, 120px));
  // grid-column-gap: 20px;
  // align-items: stretch;
  // font-size: larger;
}

.cronintervalPicker{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}

#enable_notifications{
  display: none;
}

#disable_notifications{
  display: none;
}
