.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  //background: $black;
  //background: #041248;
  //background: deepskyblue;
  //background: linear-gradient(10deg, lightskyblue 80%, deepskyblue 90%) fixed;
  //background: white;
  background: #fcfcff;
  &__top{
    //background: linear-gradient(10deg, lightskyblue 80%, deepskyblue 90%) fixed;
    background: linear-gradient(10deg, lightskyblue 80%, deepskyblue 90%) fixed;
  }
  &__section {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    &--search {
      flex: 1 1 auto;
      align-items: center;
    }
  }
  &__item {
    display: flex;
  }
  &__main_link {
    font-weight: bold;
    border-right: 1px solid rgba(255,255,255,0.1);
    text-transform: uppercase;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    svg {
      width: 30px;
      transition: all 0.2s;
      fill: white;
    }
    &:hover, &--active {
      background: #e7eaff;
      svg {
        transform: scale(1.2)
      }
      h6 {
        transform: scale(1.1);
        color: midnightblue;
      }
    }
    &--logo {
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 200px;
        margin: 0;
      }
    }
  }
  &__link {
    //background: $black;
    //background: #041248;
    //color: white;
    font-weight: bold;
    border-right: 1px solid rgba(255,255,255,0.1);
    text-transform: uppercase;
    //padding: 1.2rem 2rem 1rem 2rem;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    // border-bottom: 5px solid transparent;
    svg {
      width: 30px;
      transition: all 0.2s;
      fill: white;
      // margin-bottom: 1rem;
    }
    &:hover, &--active {
      border-bottom: 3px solid deepskyblue;
      // border-bottom-color: deepskyblue;
      //border-right-color: rgba(0,0,0,0.05);
      svg {
        transform: scale(1.2)
      }
      h6 {
        transform: scale(1.1);
        color: midnightblue;
      }
      //background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, $yellow 85%, #48ded4 95%) fixed;
      // background: none;
    }
    &--logo {
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 200px;
        margin: 0;
      }
    }
  }
}


@media all and (max-width: 1200px) {
  .nav {
    &__link {
      padding-left: 1rem;
      padding-right: 1rem;
      svg {
        width: 30px;
      }
      &--logo {
        svg {
          width: 100px;
        }
      }
    }
  }
}

@media all and (max-width: 900px) {
  .nav {
    flex-wrap:wrap;
    &__section {
      order: 1;
      &--search {
        border-top: 1px solid rgba(255,255,255,0.1);
        order: 2;
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 650px) {
  .nav {
    &__section {
      width: 100%;
      &--user {
        order: -1;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        .avatar {
          min-width: 20px;
          height: 20px;
        }
        svg {
          display: none;
        }
      }
    }
    &__item {
      width: 50%;
    }
    &__link {
      width: 100%;
      svg {
        // width: 5px;
        max-width: 100%;
      }
      &--logo {
        svg {
          width:100%;
        }
      }
    }
  }
  .heart-count:before {
    //content: '♥️';
    margin-right: 1rem;
  }
}
