.pagination {
  display: flex;
  align-items: center;
  // background: #ffffff73;
  margin-top: 2rem;
  margin-bottom: 2rem;
  // box-shadow: 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  // max-width: fit-content;
  // box-shadow: $shad;
  &__next {
    flex: 0 0 auto;
    padding: 1rem 3rem 1rem 1rem;
    a:after {
      margin-left: 1rem;
      content: '→'
    }
  }
  &__prev {
    flex: 0 0 auto;
    padding: 1rem 1rem 1rem 3rem;
    a:before {
      margin-right: 1rem;
      content: '←'
    }
  }
  &__text {
    // flex: 3 0 auto;
    flex: auto;
    padding: 1rem;
    text-align: center;
  }
}
