.search {
  position: relative;
  width: 100%;
  height: min-content;
  display: flex;
  &__results {
    background: white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 5;
  }
  &__input {
    font-size: 20px;
    border-radius: 5px;
    //background: none;
    //background: #041248;
    //color: white;
    background: #fcfcff;
    outline: 0;
    border: 0;
  }
  &__result {
    padding: 10px;
    display: block;
    background: #fcfcff;
    border-bottom: 1px solid #ececec;
    &--active {
      background: #fcfcff;
    }
  }
}
